Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix styles
  package.json
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 5347ab2a9569d9188e6766ec3ecbfb5832c695fb 🚀
  404.html
  404/index.html
  app-543c48b1e8361ef5272f.js
  app-543c48b1e8361ef5272f.js.map
  app-b31f9918fb0caa145bba.js
  app-b31f9918fb0caa145bba.js.LICENSE.txt
  app-b31f9918fb0caa145bba.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  page-data/package/woly/component/header-panel/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

[FRNT-372] Implement Text component (#71)
  src/lib/box-styles.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/text/index.tsx
  src/ui/atoms/text/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ b4f89cb3fa82a03bfb8545bf6932525111392f03 🚀
  404.html
  404/index.html
  app-28894d85c308eecb3ef9.js
  app-28894d85c308eecb3ef9.js.LICENSE.txt
  app-28894d85c308eecb3ef9.js.map
  app-b31f9918fb0caa145bba.js
  app-b31f9918fb0caa145bba.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/text/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

feat: пересобрал варианты с независимыми переменными, проверил на button и input
  .gitignore
  src/lib/box-styles.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(eslint): configuration
  .config/eslint-config.json
  .eslintrc
  .lintstagedrc
  package.json
  src/lib/box-styles.tsx
  src/lib/select-handlers.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/input/index.tsx
  src/ui/molecules/popover/index.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

fix: rollup version
  package.json
  yarn.lock
Due: none

Deploying to gh-pages from @ fac1138d3a0f262afb94af8cf113964488f91765 🚀
  404.html
  404/index.html
  app-28894d85c308eecb3ef9.js
  app-28894d85c308eecb3ef9.js.map
  app-af450fd57858c105212f.js
  app-af450fd57858c105212f.js.LICENSE.txt
  app-af450fd57858c105212f.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/button/page-data.json
  page-data/package/woly/component/input/page-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

[FRNT-335] Implement field component (#67)
  package.json
  src/types/woly.d.ts
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 7b995f16a1c6709bfc6f3a3cc1e482cbf19395aa 🚀
  404.html
  404/index.html
  app-af450fd57858c105212f.js
  app-af450fd57858c105212f.js.map
  app-bb272927bcd031021565.js
  app-bb272927bcd031021565.js.LICENSE.txt
  app-bb272927bcd031021565.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/field/page-data.json
  page-data/package/woly/component/text-area/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

[FRNT- 335] add field component (#82)
  src/lib/box-styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Deploying to gh-pages from @ 555e8f0a9a248f813ace7bc019514dd07e98b889 🚀
  app-bb272927bcd031021565.js.map
  page-data/app-data.json
  webpack.stats.json
Due: none

fix: fix checkbox styles
  src/lib/box-styles.tsx
  src/ui/molecules/checkbox/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

build: fix buildind ts
  build/builder.js
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

woly v0.4.1
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Due: none

fix: build without frozen
  .github/workflows/npm.yml
Due: none

fix: fix keyboard event lib
  src/lib/index.ts
  src/lib/keyboard-event.ts
  src/lib/select-handlers.ts
  src/ui/molecules/select/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix switch molecule
  src/lib/box-styles.tsx
  src/ui/molecules/index.ts
  src/ui/molecules/switch/index.tsx
  src/ui/molecules/switch/usage.mdx
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: add missed ui imports
  src/ui/molecules/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix primary variant
  src/lib/box-styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write

[FRNT-330] Rewrite Toggle, change name to Switch (#75)
  src/lib/box-styles.tsx
  src/lib/index.ts
  src/lib/keyboard-event.ts
  src/lib/select-handlers.ts
  src/ui/molecules/index.ts
  src/ui/molecules/select/index.tsx
  src/ui/molecules/switch/index.tsx
  src/ui/molecules/switch/usage.mdx
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 9f3da585411ff56646458c6fe19b58ac1fa3d044 🚀
  404.html
  404/index.html
  app-bb272927bcd031021565.js
  app-bb272927bcd031021565.js.map
  app-cab76d4cfb88bfed88a5.js
  app-cab76d4cfb88bfed88a5.js.LICENSE.txt
  app-cab76d4cfb88bfed88a5.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

style(box-styles): split custom properties for readability
  src/lib/box-styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: rewrite menulist
  src/lib/box-styles.tsx
  src/ui/atoms/header-panel/usage.mdx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/select/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix boxstyles
  src/lib/box-styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: add new styles
  src/lib/box-styles.tsx
  src/ui/atoms/list/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: add examples, fix styles
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: delete examples
  src/lib/box-styles.tsx
  src/ui/atoms/button-floating/example.tsx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/header-panel/usage.mdx
  src/ui/atoms/label/example.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/notification/usage.mdx
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/select/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

fix: fix input styles
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/checkbox/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ci): label pr only on open
  .github/workflows/labeler.yml
Due: none

fix: package json typo in deps
  package.json
Due: none

fix(molecules/field): building docs
  src/ui/molecules/field/usage.mdx
Due: prettier --write --parser mdx

fix: fix docs build
  src/ui/molecules/field/usage.mdx
Due: prettier --write --parser mdx

[fix] Fix docs build (#89)
  src/ui/molecules/field/usage.mdx
Due: prettier --write --parser mdx

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
