Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "stylelint --fix",
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

add weight to button-icon
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
  src/woly/atoms/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add goast styles
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix tooltip styles
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update branch
  src/woly/molecules/tooltip/usage.mdx
Due: prettier --write --parser mdx

fix circle deps
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: implement data-table
  src/woly/atoms/table/index.tsx
  src/woly/molecules/data-table/filter.tsx
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/usage.mdx
  src/woly/molecules/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement menu
  src/lib/playground.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/navigation/index.tsx
  src/woly/molecules/navigation/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: write styleguide for data-attribute
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/woly/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: rewrite data-selector, fix grammar
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/usage.mdx
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: component auto leveling
  src/lib/global.ts
  src/woly/atoms/box/index.ts
  src/woly/atoms/box/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: fix chip padding and icon
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/elements/box/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix naming
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix usage
  src/woly/atoms/icon-box/usage.mdx
Due: prettier --write --parser mdx

fix icon-button styles
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix styles
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-562] add icon component (#163)
  src/lib/global.ts
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
  src/woly/atoms/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add toast weight
  src/lib/global.ts
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix toast styles
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix chip and button usage
  src/woly/atoms/chip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-559] add toast weight (#165)
  src/lib/global.ts
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update Styleguide
  src/styleguide/html/data-attribute/data-attribute.mdx
Due: prettier --write --parser mdx

refactor: remame variable
  src/lib/palette.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: implement color palette fabrucs
  src/lib/global.ts
  src/lib/palette.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-564] Implement color palette fabrics (#162)
  src/lib/global.ts
  src/lib/palette.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: move font-stacks to a separate file
  src/lib/font-stacks.ts
  src/lib/global.ts
Due: stylelint --fix, eslint --fix, prettier --write

feat: add system-ui as a fallback font, add a font-weight vars
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/text/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: remove font-weight, rename system font-stack
  src/lib/font-stacks.ts
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/text/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: rebase and format
  src/lib/global.ts
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-568] add font stacks (#153)
  src/lib/font-stacks.ts
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/text/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-560] add weight to button-icon (#164)
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement priorities fabric
  src/lib/global.ts
  src/lib/priority.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/priorities.mdx
  src/woly/atoms/button/state-props.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-396] Rewrite data selectors (#150)
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx
