Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-504] add specification for link component (#136)
  src/ui/atoms/link/specification.mdx
Due: prettier --write --parser mdx

Rename button-spec.mdx to specification.mdx
  src/ui/atoms/button/specification.mdx
Due: prettier --write --parser mdx

[FRNT-501] add spec for button (#132)
  src/ui/atoms/button/specification.mdx
Due: prettier --write --parser mdx

fix styles
  src/ui/atoms/button-icon/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix usage
  src/ui/molecules/toast/usage.mdx
Due: prettier --write --parser mdx

update lint
  src/ui/atoms/button/index.tsx
  src/ui/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update lint
  src/ui/atoms/button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

update lint
  src/ui/atoms/button/index.tsx
  src/ui/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

update specification
  src/ui/atoms/chip/specification.mdx
Due: prettier --write --parser mdx

feat: generate map of states
  src/lib/map-generation.tsx
  src/ui/atoms/button-icon/state-props.tsx
  src/ui/atoms/button-icon/state.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/state-props.tsx
  src/ui/atoms/button/state.mdx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/chip/state-props.tsx
  src/ui/atoms/chip/state.mdx
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/input/state-props.tsx
  src/ui/atoms/input/state.mdx
  src/ui/atoms/input/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

FRNT-499 create toast component (#121)
  src/ui/atoms/button/index.tsx
  src/ui/molecules/index.ts
  src/ui/molecules/toast/index.tsx
  src/ui/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-529] rewrite button-icon structure and styles, update usage (#141)
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor: make example more detailed
  src/lib/playground.tsx
  src/ui/atoms/loader/example.tsx
  src/ui/atoms/loader/index.tsx
  src/ui/atoms/loader/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: toolsd
  src/lib/global.ts
  src/lib/playground.tsx
  src/ui/atoms/surface/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: lockfile
  yarn.lock
Due: none

feat: update versions
  packages/calendar/package.json
  packages/woly/package.json
Due: none

[FRNT-503] add chip specification (#135)
  src/ui/atoms/chip/specification.mdx
Due: prettier --write --parser mdx

[FRNT-517] implement loader component (#130)
  src/lib/playground.tsx
  src/static/icons/index.ts
  src/static/icons/spinner.svg
  src/ui/atoms/index.ts
  src/ui/atoms/loader/example.tsx
  src/ui/atoms/loader/index.tsx
  src/ui/atoms/loader/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update priority types
  src/types/woly.d.ts
Due: stylelint --fix, eslint --fix, prettier --write

update branch
  src/ui/atoms/button-icon/usage.mdx
Due: prettier --write --parser mdx

fix: table head cell vertical position
  src/ui/atoms/table/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: rewrite box model and fix components
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/elements/box/index.ts
  src/ui/elements/input-container/index.tsx
  src/ui/molecules/input-password/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update tooltip styles
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-515] Fix table cell vertical position (#139)
  src/ui/atoms/table/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: starting a doc
  package.json
  src/ui/atoms/button/specification.mdx
  yarn.lock
Due: prettier --write --parser mdx

update box
  src/ui/atoms/box/index.ts
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/list/index.tsx
  src/ui/atoms/loader/index.tsx
  src/ui/elements/index.ts
  src/ui/elements/input-container/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: remove meta info in mdx files
  src/woly/atoms/backdrop/usage.mdx
  src/woly/atoms/button-icon/state.mdx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/state.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/specification.mdx
  src/woly/atoms/chip/state.mdx
  src/woly/atoms/chip/usage.mdx
  src/woly/atoms/header-panel/usage.mdx
  src/woly/atoms/heading/usage.mdx
  src/woly/atoms/input/state.mdx
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/link/specification.mdx
  src/woly/atoms/list/usage.mdx
  src/woly/atoms/loader/usage.mdx
  src/woly/atoms/notification/usage.mdx
  src/woly/atoms/separator/usage.mdx
  src/woly/atoms/surface/usage.mdx
  src/woly/atoms/table/usage.mdx
  src/woly/atoms/text-area/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/atoms/tooltip/usage.mdx
  src/woly/atoms/upload-area/usage.mdx
  src/woly/molecules/accordion/usage.mdx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/modal/usage.mdx
  src/woly/molecules/popover/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
  src/woly/molecules/toast/usage.mdx
  src/woly/templates/grid/usage.mdx
Due: prettier --write --parser mdx

fix: specify gatsby-theme-woly version
  package.json
  yarn.lock
Due: none

add box componet, add examples
  src/lib/global.ts
  src/ui/atoms/box/index.ts
  src/ui/atoms/box/usage.mdx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/list/index.tsx
  src/ui/atoms/loader/index.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/elements/input-container/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update branch
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/example.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/loader/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

rewrite input and textarea styles
  src/lib/global.ts
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text-area/usage.mdx
  src/woly/elements/input-container/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update structure
  src/woly/atoms/box/index.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/index.ts
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/elements/box/index.ts
  src/woly/elements/box/usage.mdx
  src/woly/elements/index.ts
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
