Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor: remove in-state flag, simplify
  README.md
  screenshot-testing/make-screenshots.js
  screenshot-testing/screenshot-page-template.pug
Due: stylelint --fix, eslint --fix, prettier --write

refactor: remove cypress files, edit todos
  .github/workflows/percy.yml
  cypress.json
  screenshot-testing/index.js
Due: stylelint --fix, eslint --fix, prettier --write

refactor: simplify code, remove rebundant logs
  README.md
  screenshot-testing/index.js
  screenshot-testing/make-screenshots.js
  screenshot-testing/make-snapshots.js
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ e685b59d90d8737dd370ce75e20d4e72a89fca39 🚀
  page-data/woly/atoms/button-icon/page-data.json
  page-data/woly/atoms/button/page-data.json
  woly/atoms/button-icon/index.html
Due: none

[FRNT-142] Integrate screenshot testing (#140)
  .github/workflows/percy.yml
  .gitignore
  README.md
  cypress.json
  cypress/integration/sample_spec.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  screenshot-testing/get-configs.js
  screenshot-testing/index.js
  screenshot-testing/make-screenshots.js
  screenshot-testing/make-snapshots.js
  screenshot-testing/screenshot-page-template.pug
  src/lib/state-map.tsx
  src/woly/atoms/button/__screenshot-test__/config.js
  src/woly/atoms/button/__screenshot-test__/index.tsx
  src/woly/atoms/chip/__screenshot-test__/config.js
  src/woly/atoms/chip/__screenshot-test__/index.tsx
  src/woly/molecules/input-password/__screenshot-test__/config.js
  src/woly/molecules/input-password/__screenshot-test__/index.tsx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

fix(keyboard-event): types
  src/lib/keyboard-event.ts
Due: stylelint --fix, eslint --fix, prettier --write

refactor(data-table): imports
  src/woly/molecules/data-table/filter.tsx
Due: stylelint --fix, eslint --fix, prettier --write

style(data-table): format
  src/woly/molecules/data-table/filter.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(data-table): remove unnecessary variable for placeholder
  src/woly/molecules/data-table/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(data-table): replace variant with priority
  src/woly/molecules/data-table/usage.mdx
Due: prettier --write --parser mdx

refactor(configurators): simplify toggle state
  src/lib/configurators/common/sections.tsx
Due: stylelint --fix, eslint --fix, prettier --write

chore(deps): sync lock
  yarn.lock
Due: none

refactor(configurators): size units
  src/lib/configurators/configurators.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(configurators): remove tertiary priority, add success priority
  src/lib/configurators/color/scopes.ts
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-548] Add documentation configurator (#170)
  package.json
  src/lib/configurators/color/index.tsx
  src/lib/configurators/color/scopes.ts
  src/lib/configurators/common/sections.tsx
  src/lib/configurators/common/variable-field.tsx
  src/lib/configurators/configurators.tsx
  src/lib/configurators/context.ts
  src/lib/configurators/index.ts
  src/lib/configurators/inputs/color.tsx
  src/lib/configurators/inputs/types.tsx
  src/lib/configurators/stylesheet.tsx
  src/lib/configurators/types.ts
  src/lib/hooks/use-force-update.ts
  src/lib/hooks/use-sync-height.tsx
  src/lib/hooks/use-unique-id.ts
  src/lib/map-generation.tsx
  src/lib/playground.tsx
  src/static/icons/color-palette.svg
  src/static/icons/index.ts
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

update tab styles
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

style: change styling data-attributes
  src/upload/elements/upload-area/index.tsx
  src/upload/molecules/button-uploader/index.tsx
  src/upload/molecules/drag-uploader/index.tsx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/separator/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/input-password/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/switch/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

docs(styleguide): update information about data-attributes
  CONTRIBUTING.md
  src/styleguide/html/data-attribute/data-attribute.mdx
Due: prettier --write, prettier --write --parser mdx

[FRNT-603] Refactor data-attributes (#181)
  CONTRIBUTING.md
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/upload/elements/upload-area/index.tsx
  src/upload/molecules/button-uploader/index.tsx
  src/upload/molecules/drag-uploader/index.tsx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/separator/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/input-password/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/switch/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat(docs): upgrade gatsby theme version
  .eslintignore
  .gitignore
  gatsby-config.js
  gatsby-node.js
  package.json
  src/woly/atoms/button/usage.mdx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(LevelDecrement): naming
  src/woly/elements/level-decrement/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(LevelDecrement): style inner component instead of wrapper
  src/dev/global.ts
  src/woly/elements/level-decrement/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: implement level decrement
  src/woly/atoms/box/index.ts
  src/woly/atoms/box/usage.mdx
  src/woly/elements/index.ts
  src/woly/elements/level-decrement/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement level downgrade
  src/dev/global.ts
  src/lib/level-downgrade.ts
  src/woly/atoms/box/index.ts
  src/woly/atoms/box/usage.mdx
  src/woly/elements/index.ts
  src/woly/elements/input-container/index.tsx
  src/woly/elements/level-decrement/index.tsx
  src/woly/global.ts
  src/woly/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: more specific exported global styles name
  src/dev/global.ts
  src/woly/index.ts
  src/woly/woly-global-styles.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix(lib): level downgrade better naming
  src/dev/global.ts
  src/lib/level-downgrade.ts
  src/woly/elements/input-container/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat(docs): upgrade gatsby theme version (#183)
  .eslintignore
  .gitignore
  gatsby-config.js
  gatsby-node.js
  package.json
  src/woly/atoms/button/usage.mdx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-592] feat: implement level decrement (#179)
  src/dev/global.ts
  src/lib/level-downgrade.ts
  src/woly/elements/input-container/index.tsx
  src/woly/index.ts
  src/woly/woly-global-styles.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix styles
  .editorconfig
  .eslintrc
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

wip: update
  src/dev/global.ts
  src/dev/playground.tsx
  src/lib/coloring/index.ts
  src/woly/atoms/avatar/index.tsx
  src/woly/atoms/backdrop/usage.mdx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/surface/usage.mdx
  src/woly/elements/input-element/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix styles
  src/woly/atoms/button-icon/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: data-icon in toast and button-icon
  src/woly/atoms/button-icon/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
