Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix styles
  src/ui/molecules/tabs/index.tsx
  src/ui/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update styles
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement avatar component
  src/static/icons/index.ts
  src/static/icons/profile.svg
  src/woly/atoms/avatar/index.tsx
  src/woly/atoms/avatar/usage.mdx
  src/woly/atoms/avatar/use-image-load.ts
  src/woly/atoms/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: pass AvatarBase to styled instead of declare AvatarContainer
  src/woly/atoms/avatar/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

update styles
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text-area/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/elements/input-element/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update woly stucture
  src/woly/atoms/box/index.ts
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/index.ts
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/elements/index.ts
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/notification/index.tsx
  src/woly/molecules/notification/usage.mdx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/index.ts
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-513] rewrite input and textarea styles (#147)
  src/lib/global.ts
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text-area/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/elements/input-element/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-555] feat: implement avatar component (#143)
  src/static/icons/index.ts
  src/static/icons/profile.svg
  src/woly/atoms/avatar/index.tsx
  src/woly/atoms/avatar/usage.mdx
  src/woly/atoms/avatar/use-image-load.ts
  src/woly/atoms/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add weight to tab
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update woly structure
  src/woly/atoms/box/index.ts
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/index.ts
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT- 561] update box component (#146)
  src/woly/atoms/box/index.ts
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/index.ts
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/example.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/loader/usage.mdx
  src/woly/elements/box/index.tsx
  src/woly/elements/index.ts
  src/woly/molecules/field/index.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/notification/index.tsx
  src/woly/molecules/notification/usage.mdx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: show components pages in tabs
  package.json
  src/woly/atoms/button/specification.mdx
  yarn.lock
Due: prettier --write --parser mdx

feat: show components pages in tabs (#148)
  package.json
  src/woly/atoms/button/specification.mdx
  yarn.lock
Due: prettier --write --parser mdx

fix: checkbox absolute position in modal
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: checkbox absolute position in modal (#154)
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

build(deps): bump gatsby theme
  package.json
  yarn.lock
Due: none

build(deps): bump gatsby theme (#155)
  package.json
  yarn.lock
Due: none

fix: npm version
  versions.json
Due: none

fix: npm version (#156)
  versions.json
Due: none

Deploying to gh-pages from @ 69a835ef0d3a9512febfe9d29921f9d6eb819837 🚀
  page-data/woly/atoms/button/page-data.json
Due: none

fix: add missing box export in elements
  src/woly/elements/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix: add missing box export in elements (#157)
  src/woly/elements/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix: throw error in build instead of log
  build/index.js
Due: stylelint --fix, eslint --fix, prettier --write

fix: throw error in build instead of log (#158)
  build/index.js
Due: stylelint --fix, eslint --fix, prettier --write

chore: bump version
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Due: none

fix: dont export box in index
  src/woly/atoms/text-area/index.tsx
  src/woly/elements/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix: dont export box in index (#159)
  src/woly/atoms/text-area/index.tsx
  src/woly/elements/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

chore: bump version (#160)
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Due: none

fix(atoms): fullWidth prop with usage
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add icon component
  src/lib/global.ts
  src/woly/atoms/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
