Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "eslint --fix",
    "stylelint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

ci(release-drafter): add back atomic and internal labels
  .github/release-drafter.yml
Due: none

ci: upgrade releaser
  .github/workflows/npm.yml
Due: none

fix: build docs
  package.json
  yarn.lock
Due: none

v0.3.0
  packages/calendar/package.json
  packages/woly/package.json
Due: none

ci(npm): publish manually without primer action
  .github/workflows/npm.yml
Due: none

ci(npm): publish with workflow dispatch
  .github/workflows/npm.yml
Due: none

ci(npm): add description for inputs
  .github/workflows/npm.yml
Due: none

ci(npm): fix event name
  .github/workflows/npm.yml
Due: none

fix: set versions
  versions.json
Due: none

refactor : upgrade deps
  README.md
  package.json
  yarn.lock
Due: prettier --write

fix : remove configs for husky and lint-staged
  package.json
Due: none

refactor : FRNT-177 add modularity and simplify variable names for components
  src/lib/box-styles.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/themes/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

refactor : FRNT-177 add modularity and simplify variable names for components
  src/ui/atoms/button/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

refactor : upgrade deps
  package.json
Due: none

Deploying to gh-pages from @ 58cdac39ebf24a61ebc657a661972164ff0de485 🚀
  404.html
  404/index.html
  app-03b79cd01690611a6a70.js
  app-03b79cd01690611a6a70.js.map
  app-cf1010ea20259efc84f0.js
  app-cf1010ea20259efc84f0.js.LICENSE.txt
  app-cf1010ea20259efc84f0.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/menu-list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/surface/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

add text-area component
  src/ui/atoms/index.ts
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: implement select
  src/lib/box-styles.tsx
  src/ui/molecules/select/example.tsx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat : implement new chip version
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

feat: implement text-area
  package.json
  src/ui/atoms/index.ts
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat : add props and variants to textarea
  src/lib/box-styles.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ cb4e4222858bfb662403b7dacfa7ff670e8a8603 🚀
  404.html
  404/index.html
  app-0209e63e46d24885a484.js
  app-0209e63e46d24885a484.js.LICENSE.txt
  app-0209e63e46d24885a484.js.map
  app-cf1010ea20259efc84f0.js
  app-cf1010ea20259efc84f0.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/menu-list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  page-data/package/woly/component/select/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix inputs and textarea styles
  src/lib/box-styles.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix textarea by comments in pr
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix chip styles by comments
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: temporary disable mjs build
  build/builder.js
Due: eslint --fix, stylelint --fix, prettier --write

v0.3.1
  build/packages.js
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Due: eslint --fix, stylelint --fix, prettier --write

feat: remove label from components
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: add checkbox component
  src/static/icons/check.svg
  src/static/icons/index.ts
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: modify label component
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: add textarea component
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: implement tooltip
  .eslintrc
  gatsby-node.js
  src/lib/index.ts
  src/lib/position-relative.tsx
  src/ui/atoms/tooltip/example.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx
