Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "stylelint --fix",
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

rewrite textarea types
  src/woly/atoms/text-area/index.tsx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

refactor: better naming
  src/woly/atoms/box/index.ts
  src/woly/elements/box/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/radio-button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: implement line-box, refactor checkbox and radio-button
  src/woly/atoms/box/index.ts
  src/woly/elements/box/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/radio-button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor: change implementation, corrections
  src/woly/atoms/box/index.ts
  src/woly/elements/box/index.tsx
  src/woly/elements/index.ts
  src/woly/elements/visually-hidden/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/radio-button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: change formula
  src/woly/elements/box/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: update checkbox usage
  src/woly/molecules/checkbox/usage.mdx
Due: prettier --write --parser mdx

refactor: update visually-hidden
  src/woly/elements/visually-hidden/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: correct css var name
  src/woly/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[DS-22] feature: implement line-box, refactor checkbox and radio-button (#185)
  src/woly/atoms/box/index.ts
  src/woly/elements/box/index.tsx
  src/woly/elements/index.ts
  src/woly/elements/visually-hidden/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/radio-button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

rewrite textarea types (#189)
  src/woly/atoms/text-area/index.tsx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ 9e341c41a8b663f9591d850637830e153b9a2748 🚀
  app-f32263bbcd3f59faaf2f.js.map
  page-data/app-data.json
  page-data/woly/atoms/button/page-data.json
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  webpack.stats.json
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none

Update versions.json
  versions.json
Due: none

Deploying to gh-pages from @ a091b82df4f94b0eaa4d95abff4c178edecd32f6 🚀
  page-data/woly/atoms/button/page-data.json
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none

fix: random issues
  src/dev/global.ts
  src/dev/playground.tsx
  src/lib/coloring/index.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/table/usage.mdx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text/index.tsx
  src/woly/elements/input-element/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/accordion/usage.mdx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/popover/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix build
  build/builder.js
Due: stylelint --fix, eslint --fix, prettier --write

fix build (#191)
  build/builder.js
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ e22e4df764bc80338df28271791b6fccbe3e5e83 🚀
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none

woly@0.11.1
  versions.json
Due: none

fix: remove console.log
  src/woly/molecules/data-table/usage.mdx
Due: prettier --write --parser mdx

Deploying to gh-pages from @ dc71e4358b17fb1e4ff69bf9bd704d7bd570d727 🚀
  page-data/woly/atoms/chip/page-data.json
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none

style: format + lint
  src/woly/atoms/surface/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/popover/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: exporting molecules datatable head props
  package.json
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/index.ts
  versions.json
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ 3cca8effbb0301d6e7e721ace42d1039c57a065c 🚀
  app-f32263bbcd3f59faaf2f.js.map
  page-data/app-data.json
  page-data/woly/atoms/chip/page-data.json
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  webpack.stats.json
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none

build: add upload package publishing
  .github/workflows/npm.yml
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  versions.json
Due: none

Deploying to gh-pages from @ f4d6519a2aa3de486cd9e9d205be14c3b899d3ef 🚀
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none

feat: add dependencies to woly
  build/packages.js
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
Due: stylelint --fix, eslint --fix, prettier --write

feat: woly@0.11.3
  versions.json
Due: none

Deploying to gh-pages from @ e8b092fbfc21fa7a4e50bc73e607e0a8733b16a3 🚀
  page-data/woly/atoms/chip/page-data.json
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none

fix: disabled button text
  src/woly/atoms/button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: disabled textarea placeholder
  src/woly/atoms/text-area/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: accordion paddings and margins
  src/woly/atoms/text-area/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/accordion/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: text color
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/surface/usage.mdx
  src/woly/atoms/text/index.tsx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

style: lint + format
  src/woly/atoms/table/index.tsx
  src/woly/atoms/text-area/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Fix random issues (#190)
  src/dev/global.ts
  src/dev/playground.tsx
  src/woly/atoms/avatar/index.tsx
  src/woly/atoms/backdrop/usage.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/surface/usage.mdx
  src/woly/atoms/table/index.tsx
  src/woly/atoms/table/usage.mdx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text/index.tsx
  src/woly/elements/input-element/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/accordion/usage.mdx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/data-table/usage.mdx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/popover/usage.mdx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 1eab14a2aa2c530083fd8d26260011a308a892ae 🚀
  page-data/woly/atoms/button/page-data.json
  page-data/woly/atoms/chip/page-data.json
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none
