Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "stylelint --fix",
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

Deploying to gh-pages from @ a156f38ea8f171857cc98c25221f36e32e1aae32 🚀
  package/woly/component/accordion/index.html
  page-data/package/woly/component/accordion/page-data.json
Due: none

style(ui/molecules): reformat with prettier
  src/ui/molecules/accordion/usage.mdx
Due: prettier --write --parser mdx

fix: rewrite checkbox on box-model
  src/ui/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ f01ff12d5c57b13ca659e9eb9ea4d9bab44e630a 🚀
  package/woly/component/accordion/index.html
  page-data/package/woly/component/accordion/page-data.json
Due: none

Deploying to gh-pages from @ 97ab711f3ec6537dfa86dd9b17f98a0cd20e729e 🚀
  404.html
  404/index.html
  app-b765ccbdc529aa1df529.js
  app-b765ccbdc529aa1df529.js.map
  app-e3bc25f90afe419ee45b.js
  app-e3bc25f90afe419ee45b.js.LICENSE.txt
  app-e3bc25f90afe419ee45b.js.map
  chunk-map.json
  index.html
  package/woly/component/accordion/index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/radio-button/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text/index.html
  package/woly/component/textarea/index.html
  package/woly/component/tooltip/index.html
  package/woly/component/upload-area/index.html
  page-data/app-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

Update versions.json
  versions.json
Due: none

fix button padding
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

create toast component
  src/lib/global.ts
  src/ui/molecules/index.ts
  src/ui/molecules/toast/index.tsx
  src/ui/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix lint styles
  src/ui/molecules/toast/index.tsx
  src/ui/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix lint styles
  src/lib/global.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix styles
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor list component, add surface, popover and list to select
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

create tab ana tabbar component
  src/ui/molecules/index.ts
  src/ui/molecules/tabs/index.tsx
  src/ui/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix lint styles
  src/ui/molecules/tabs/index.tsx
  src/ui/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

rewrite select with list, surface and popover
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

resolve comments
  src/lib/global.ts
  src/ui/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

add comments
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix lint
  src/ui/index.ts
  src/ui/molecules/index.ts
  src/ui/organisms/index.ts
  src/ui/organisms/select/index.tsx
  src/ui/organisms/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix toast styles and description
  src/ui/molecules/toast/index.tsx
  src/ui/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix toast styles and description
  src/ui/molecules/toast/usage.mdx
Due: prettier --write --parser mdx

fix tabs styles
  src/ui/molecules/tabs/index.tsx
  src/ui/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add global styles, add wb variant
  src/lib/global.ts
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/input/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix code style
  src/lib/global.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix tab styles
  src/ui/molecules/tabs/index.tsx
  src/ui/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix shadow
  src/ui/molecules/tabs/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(stylelint): correct config to work properly with vscode-stylelint plugin
  .stylelintrc.json
Due: none

rewrite tooltip, add new formuls, palette and add focus state
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix lint style
  src/ui/atoms/tooltip/index.tsx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

fix
  src/ui/atoms/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix styles popover, surface
  src/ui/atoms/list/index.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/molecules/popover/index.tsx
  src/ui/organisms/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

rewite select styles
  src/ui/atoms/list/index.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/molecules/popover/index.tsx
  src/ui/organisms/select/index.tsx
  src/ui/organisms/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement loader component
  src/ui/atoms/index.ts
  src/ui/atoms/loader/index.tsx
  src/ui/atoms/loader/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor: simplify spinner, use dynamic sizes
  src/ui/atoms/loader/index.tsx
  src/ui/atoms/loader/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add new pallete, add examples
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add spec for button
  src/ui/atoms/button/button-spec.mdx
Due: prettier --write --parser mdx

add spec for link
  src/ui/atoms/button/button-spec.mdx
  src/ui/atoms/link/link-spec.mdx
Due: prettier --write --parser mdx
