Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix lint
  src/ui/atoms/button/button-spec.mdx
Due: prettier --write --parser mdx

fix lint styles
  src/lib/global.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix button padding
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix styles
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ dfc7ceae1d5e09be66de7c4789cda3a57d4c44da 🚀
  404.html
  404/index.html
  app-dcc25e5aa812e4c11fcf.js
  app-dcc25e5aa812e4c11fcf.js.LICENSE.txt
  app-dcc25e5aa812e4c11fcf.js.map
  app-e3bc25f90afe419ee45b.js
  app-e3bc25f90afe419ee45b.js.map
  chunk-map.json
  index.html
  package/woly/component/accordion/index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/radio-button/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text/index.html
  package/woly/component/textarea/index.html
  package/woly/component/tooltip/index.html
  package/woly/component/upload-area/index.html
  page-data/app-data.json
  page-data/package/woly/component/button/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

ci: setup codeql analysis
  .github/workflows/codeql-analysis.yml
Due: none

fix
  src/ui/molecules/popover/index.tsx
  src/ui/organisms/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: add more examples in usages, fix typos, move spinner to separate file
  src/static/icons/index.ts
  src/static/icons/spinner.svg
  src/ui/atoms/loader/example.tsx
  src/ui/atoms/loader/index.tsx
  src/ui/atoms/loader/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add new palettes, fix comments on pr
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/input/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix lint
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

small fix
  src/lib/global.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix usage
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix lint
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix styles
  src/ui/molecules/tabs/index.tsx
  src/ui/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

rewrite tooltip style and data-attr namig
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix spec description
  src/ui/atoms/button/button-spec.mdx
Due: prettier --write --parser mdx

update branch
  src/ui/atoms/button/button-spec.mdx
Due: prettier --write --parser mdx

rewtire styles
  src/ui/molecules/index.ts
  src/ui/molecules/tabs/index.tsx
  src/ui/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix link spec description
  src/ui/atoms/link/link-spec.mdx
Due: prettier --write --parser mdx

update tabs styles
  src/ui/molecules/tabs/index.tsx
  src/ui/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix grammar
  src/ui/atoms/link/link-spec.mdx
Due: prettier --write --parser mdx

fix grammar
  src/ui/atoms/button/button-spec.mdx
Due: prettier --write --parser mdx

fix styles
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add chip specification
  src/ui/atoms/chip/chip-spec.mdx
Due: prettier --write --parser mdx

update specification
  src/ui/atoms/link/link-spec.mdx
Due: prettier --write --parser mdx

refactor: replace fragment with short syntax variant
  src/ui/atoms/loader/example.tsx
  src/ui/atoms/loader/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

rewrite chip
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-530] add global styles, add wb variant (#127)
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/input/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ fb65d882d35be0edb4938fc67cea9f62063fef9c 🚀
  404.html
  404/index.html
  app-1e0dd6921a7de5b5b8e6.js
  app-1e0dd6921a7de5b5b8e6.js.LICENSE.txt
  app-1e0dd6921a7de5b5b8e6.js.map
  app-dcc25e5aa812e4c11fcf.js
  app-dcc25e5aa812e4c11fcf.js.map
  chunk-map.json
  index.html
  package/woly/component/accordion/index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/radio-button/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text/index.html
  package/woly/component/textarea/index.html
  package/woly/component/tooltip/index.html
  package/woly/component/upload-area/index.html
  page-data/app-data.json
  page-data/package/woly/component/button/page-data.json
  page-data/package/woly/component/input/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-531] rewrite chip with new palette (#137)
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 29ba4913955eb0702673d0eba65227def4cc922f 🚀
  404.html
  404/index.html
  app-1e0dd6921a7de5b5b8e6.js
  app-1e0dd6921a7de5b5b8e6.js.map
  app-2c0374c8f1840934f313.js
  app-2c0374c8f1840934f313.js.LICENSE.txt
  app-2c0374c8f1840934f313.js.map
  chunk-map.json
  index.html
  package/woly/component/accordion/index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/radio-button/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text/index.html
  package/woly/component/textarea/index.html
  package/woly/component/tooltip/index.html
  package/woly/component/upload-area/index.html
  page-data/app-data.json
  page-data/package/woly/component/chip/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

rewrite button-icon structure and styles, update usage
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

update description with pr comments
  src/ui/atoms/chip/chip-spec.mdx
Due: prettier --write --parser mdx

add box-model for select
  src/ui/elements/box/index.ts
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-540] Add box-model for select (#126)
  src/ui/elements/box/index.ts
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ 2882afbd50fa22910b17985a763d74de030cf18f 🚀
  404.html
  404/index.html
  app-2c0374c8f1840934f313.js
  app-2c0374c8f1840934f313.js.map
  app-d900a3eba6f7bd5f12c6.js
  app-d900a3eba6f7bd5f12c6.js.LICENSE.txt
  app-d900a3eba6f7bd5f12c6.js.map
  chunk-map.json
  index.html
  package/woly/component/accordion/index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/radio-button/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text/index.html
  package/woly/component/textarea/index.html
  package/woly/component/tooltip/index.html
  package/woly/component/upload-area/index.html
  page-data/app-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

Rename link-spec.mdx to specification.mdx
  src/ui/atoms/link/specification.mdx
Due: prettier --write --parser mdx

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
