Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

woly v0.5.0
  versions.json
Due: none

Deploying to gh-pages from @ 28d94c67b92f782c20bd4e691e806821bee8989b 🚀
  404.html
  404/index.html
  app-7b91c91123531bde525c.js
  app-7b91c91123531bde525c.js.LICENSE.txt
  app-7b91c91123531bde525c.js.map
  app-cab76d4cfb88bfed88a5.js
  app-cab76d4cfb88bfed88a5.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/field/page-data.json
  page-data/package/woly/component/switch/page-data.json
  page-data/package/woly/component/toggle/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

fix: fix input and input-password styles
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement Grid and Column
  src/lib/box-styles.tsx
  src/ui/index.ts
  src/ui/templates/grid/index.tsx
  src/ui/templates/grid/usage.mdx
  src/ui/templates/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 5874696ae568b0f15a5cd435c9bc802148f87b7b 🚀
  404.html
  404/index.html
  app-06505d77b238e23ab484.js
  app-06505d77b238e23ab484.js.LICENSE.txt
  app-06505d77b238e23ab484.js.map
  app-7b91c91123531bde525c.js
  app-7b91c91123531bde525c.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/grid/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

ci(release-drafter): add templates, remove lib
  .github/release-drafter.yml
Due: none

ci(labeler): remove lib
  .github/labeler.yml
Due: none

fix: use Popover, List, Surface in Select
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

bugfix: fix Grid and Column
  src/ui/templates/grid/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: fix styles
  src/lib/box-styles.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: fix list styles
  src/lib/index.ts
  src/lib/select-handlers.ts
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix examples, fix styles components
  src/lib/box-styles.tsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/checkbox/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

rewrite input component
  src/lib/box-styles.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/switch/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix styles
  src/lib/select-handlers.ts
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Merge pull request #73 from woly-ui/feature/FRNT-328-rewrite-input-component
  src/lib/box-styles.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/example.tsx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/elements/quarks/index.ts
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/switch/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 05625c5721b8e26dc12a3ac3dfdc1380f283828b 🚀
  404.html
  404/index.html
  app-06505d77b238e23ab484.js
  app-06505d77b238e23ab484.js.map
  app-7246aa3ff42367038c21.js
  app-7246aa3ff42367038c21.js.LICENSE.txt
  app-7246aa3ff42367038c21.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/checkbox/page-data.json
  page-data/package/woly/component/input-password/page-data.json
  page-data/package/woly/component/input/page-data.json
  page-data/package/woly/component/label/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

ci(build): add ci
  .github/workflows/build.yml
Due: none

rewrite list styles
  src/lib/index.ts
  src/lib/listHandlers.ts
  src/lib/select-handlers.ts
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

ci(build): fix task name
  .github/workflows/build.yml
Due: none

Update deploy-docs.yml
  .github/workflows/deploy-docs.yml
Due: none

fix: fix button icon
  src/ui/atoms/button-icon/example.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-395] Delete examples in components (#87)
  src/ui/atoms/button-floating/example.tsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/header-panel/usage.mdx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/notification/usage.mdx
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-373] Rewrite ButtonIcon (#84)
  src/ui/atoms/button-icon/example.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 5138be2d62678853d1ca5f096bf59b6d17175965 🚀
  404.html
  404/index.html
  app-7246aa3ff42367038c21.js
  app-7246aa3ff42367038c21.js.map
  app-a2865ebace41d8bc7787.js
  app-a2865ebace41d8bc7787.js.LICENSE.txt
  app-a2865ebace41d8bc7787.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/button-floating/page-data.json
  page-data/package/woly/component/field/page-data.json
  page-data/package/woly/component/header-panel/page-data.json
  page-data/package/woly/component/notification/page-data.json
  page-data/package/woly/component/select/page-data.json
  page-data/package/woly/component/text-area/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ 8b80e63dd4f1c8b8c86c839cbd8c205df13836e3 🚀
  404.html
  404/index.html
  app-0eef5c17939f731d14c5.js
  app-0eef5c17939f731d14c5.js.LICENSE.txt
  app-0eef5c17939f731d14c5.js.map
  app-a2865ebace41d8bc7787.js
  app-a2865ebace41d8bc7787.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/button-icon/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

feat: implement Separator atom
  src/ui/atoms/index.ts
  src/ui/atoms/separator/index.tsx
  src/ui/atoms/separator/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

add danger variant
  src/lib/box-styles.tsx
  src/ui/atoms/heading/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/atoms/text/index.tsx
  src/ui/atoms/text/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/switch/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

implement secondary variant
  src/lib/box-styles.tsx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-444] Rewrite checkbox styles (#81)
  src/lib/box-styles.tsx
  src/lib/index.ts
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/text/usage.mdx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ b0b12f1537193edba6b0c253d3c31e3a9ad99b6b 🚀
  404.html
  404/index.html
  app-0eef5c17939f731d14c5.js
  app-0eef5c17939f731d14c5.js.map
  app-cfb9abacd373d987a7b3.js
  app-cfb9abacd373d987a7b3.js.LICENSE.txt
  app-cfb9abacd373d987a7b3.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/checkbox/page-data.json
  page-data/package/woly/component/label/page-data.json
  page-data/package/woly/component/text/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-371] Implement Separator atom (#92)
  src/ui/atoms/index.ts
  src/ui/atoms/separator/index.tsx
  src/ui/atoms/separator/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-488] Fix Grid and Column (#94)
  src/ui/templates/grid/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ 655535dfb7e550c8a9aca5c623742f52476bd179 🚀
  404.html
  404/index.html
  app-a282e18512ff1a12c6ce.js
  app-a282e18512ff1a12c6ce.js.LICENSE.txt
  app-a282e18512ff1a12c6ce.js.map
  app-cfb9abacd373d987a7b3.js
  app-cfb9abacd373d987a7b3.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/separator/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ d998ca16ee6961c14b8427e3d0ab3394f0553ae8 🚀
  app-a282e18512ff1a12c6ce.js.map
  page-data/app-data.json
  webpack.stats.json
Due: none

feat: implement Table component
  src/ui/atoms/index.ts
  src/ui/atoms/table/index.tsx
  src/ui/atoms/table/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: add radio-button
  src/lib/box-styles.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/index.ts
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/radio-button/index.tsx
  src/ui/molecules/radio-button/usage.mdx
  src/ui/molecules/switch/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-176] Implement Table component (#93)
  src/ui/atoms/index.ts
  src/ui/atoms/table/index.tsx
  src/ui/atoms/table/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 75093a08cfc573777fa997114eb01ea3ab00099a 🚀
  404.html
  404/index.html
  app-3507d1bfe55267b7c234.js
  app-3507d1bfe55267b7c234.js.LICENSE.txt
  app-3507d1bfe55267b7c234.js.map
  app-a282e18512ff1a12c6ce.js
  app-a282e18512ff1a12c6ce.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/table/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

add styles
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
