Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "eslint --fix",
    "stylelint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

fix: fix textarea by comments in pr
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat : add props and variants to textarea
  src/lib/box-styles.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: add textarea component
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix inputs and textarea styles
  src/lib/box-styles.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 922b49dcd2ccf924820c453c518ed7a4b84f690c 🚀
  404.html
  404/index.html
  app-0209e63e46d24885a484.js
  app-0209e63e46d24885a484.js.map
  app-2db12d2f3254c12daef6.js
  app-2db12d2f3254c12daef6.js.LICENSE.txt
  app-2db12d2f3254c12daef6.js.map
  chunk-map.json
  commons-eee43aad7aecf10d7bea.js
  commons-eee43aad7aecf10d7bea.js.map
  commons-fa8f0923c489a1d62493.js
  commons-fa8f0923c489a1d62493.js.map
  component---node-modules-gatsby-theme-woly-src-templates-usage-js-77317b10aa7a224833ca.js
  component---node-modules-gatsby-theme-woly-src-templates-usage-js-77317b10aa7a224833ca.js.map
  component---node-modules-gatsby-theme-woly-src-templates-usage-js-b81529ff4a8c3c9ec479.js
  component---node-modules-gatsby-theme-woly-src-templates-usage-js-b81529ff4a8c3c9ec479.js.map
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/menu-list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  page-data/package/woly/component/text-area/page-data.json
  page-data/sq/d/1158639554.json
  webpack-runtime-1e7e77e328f1c72d8b8e.js
  webpack-runtime-1e7e77e328f1c72d8b8e.js.map
  webpack-runtime-68cd98375a930cd574ee.js
  webpack-runtime-68cd98375a930cd574ee.js.map
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

feat: add percy tests
  .github/workflows/percy.yml
  cypress.json
  cypress/integration/sample_spec.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

test: setup percy with property testing
  .gitignore
  .percy.yaml
  cypress.json
  cypress/integration/sample_spec.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/index.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

docs: improve documentation for button
  package.json
  src/lib/box-styles.tsx
  src/static/icons/arrow-left.svg
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/usage.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

ci(pecry): temporary disable visual testing
  .github/workflows/percy.yml
Due: none

docs: review examples, prepare to migrate to autogenerated layout for visual testing
  cypress/integration/sample_spec.ts
  cypress/support/index.js
  package.json
  src/ui/atoms/button-floating/example.tsx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/chip/example.tsx
  src/ui/molecules/toggle/example.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

feat: add checkbox component
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: modify label component
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: theme and examples
  package.json
  src/lib/box-styles.tsx
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/popover/usage.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: remove label from components
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 5d99dabd2f018e23a23380d14af2e23f356013a7 🚀
  404.html
  404/index.html
  app-08754df0f71e074518b5.js
  app-08754df0f71e074518b5.js.LICENSE.txt
  app-08754df0f71e074518b5.js.map
  app-ad048ae0b989164ed733.js
  app-ad048ae0b989164ed733.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/menu-list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  page-data/package/woly/component/toggle/page-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix checkbox styles
  src/static/icons/icon_check.svg
  src/static/icons/index.ts
  src/ui/molecules/checkbox/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Deploying to gh-pages from @ 3dd46cfd03c6b258c21b1795bd477344fd62749b 🚀
  404.html
  404/index.html
  app-08754df0f71e074518b5.js
  app-08754df0f71e074518b5.js.map
  app-2eae3e729577af475166.js
  app-2eae3e729577af475166.js.LICENSE.txt
  app-2eae3e729577af475166.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/menu-list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  page-data/package/woly/component/label/page-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

feat: add modified menulist
  src/static/icons/check.svg
  src/static/icons/index.ts
  src/static/icons/info.svg
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/menu-list/usage.mdx
  src/ui/molecules/toggle/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: implement tooltip
  .eslintrc
  gatsby-node.js
  src/lib/index.ts
  src/lib/position-relative.tsx
  src/ui/atoms/tooltip/example.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

docs(guide): add simple guide for variants
  CONTRIBUTING.md
Due: prettier --write

docs(guide): add components guide
  CONTRIBUTING.md
Due: prettier --write

fix: fix tooltip
  src/ui/atoms/tooltip/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix checkbox styles
  src/lib/box-styles.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix chip styles
  .eslintrc
  src/static/icons/index.ts
  src/static/icons/plus.svg
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 639b74d272fd872506d66713f0213b32a844117c 🚀
  404.html
  404/index.html
  app-1dcb60da8110cf0d7e4c.js
  app-1dcb60da8110cf0d7e4c.js.LICENSE.txt
  app-1dcb60da8110cf0d7e4c.js.map
  app-2eae3e729577af475166.js
  app-2eae3e729577af475166.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/menu-list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/tooltip/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix surface
  src/lib/box-styles.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/surface/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

[FRNT-323] add modified menulist (#63)
  src/static/icons/check.svg
  src/static/icons/index.ts
  src/static/icons/info.svg
  src/ui/atoms/index.ts
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/menu-list/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 75a6a38b2b046e9911dc483ce8233ce0a4db9428 🚀
  404.html
  404/index.html
  app-1dcb60da8110cf0d7e4c.js
  app-1dcb60da8110cf0d7e4c.js.map
  app-98263eec02466ab19b2d.js
  app-98263eec02466ab19b2d.js.LICENSE.txt
  app-98263eec02466ab19b2d.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/menu-list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/list/page-data.json
  page-data/package/woly/component/menu-list/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

[FRNT-329] add checkbox component (#57)
  src/lib/box-styles.tsx
  src/static/icons/icon-uncheck.svg
  src/static/icons/icon_check.svg
  src/static/icons/index.ts
  src/ui/atoms/label/example.tsx
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 8e4de8b181e60947309aa1182d5cd7d8fa8aa48e 🚀
  404.html
  404/index.html
  app-98263eec02466ab19b2d.js
  app-98263eec02466ab19b2d.js.map
  app-ad61b7b215f2392f70cb.js
  app-ad61b7b215f2392f70cb.js.LICENSE.txt
  app-ad61b7b215f2392f70cb.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/checkbox/page-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write
