Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "stylelint --fix",
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

rewrite accordion styles
  src/ui/molecules/accordeon/index.tsx
  src/ui/molecules/accordeon/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

rewrite styles
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement box-model and rewrite ButtonIcon
  src/static/icons/close.svg
  src/static/icons/index.ts
  src/static/icons/search.svg
  src/ui/atoms/button-icon/index.tsx
  src/ui/elements/quarks/box/index.tsx
  src/ui/elements/quarks/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix: rewrite Chip on box-model
  src/lib/box-styles.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: rewrite field to box model
  src/ui/elements/quarks/box/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix: rewrite Button on box model
  src/lib/box-styles.tsx
  src/ui/atoms/button/index.tsx
  src/ui/elements/quarks/box/index.tsx
  src/ui/elements/quarks/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix
  src/ui/elements/quarks/box/index.ts
  src/ui/elements/quarks/index.ts
  src/ui/molecules/field/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: rewrite field to box-model
  src/ui/elements/quarks/box/index.ts
  src/ui/molecules/field/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: rewrite list
  src/ui/atoms/index.ts
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/surface/index.tsx
  src/ui/elements/quarks/box/index.tsx
  src/ui/elements/quarks/index.ts
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/popover/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

small fixes
  src/lib/listHandlers.ts
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/text/usage.mdx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

small fixes
  src/lib/listHandlers.ts
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/text/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/molecules/accordion/index.tsx
  src/ui/molecules/accordion/usage.mdx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/index.ts
  src/ui/molecules/input-password/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: initially add foliage api
  src/lib/foliage.tsx
  src/ui/atoms/button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

style: reformat and rename icons
  .eslintignore
  src/lib/box-styles.tsx
  src/lib/index.ts
  src/lib/list-handlers.ts
  src/lib/position-relative.tsx
  src/lib/select-handlers.ts
  src/lib/types.ts
  src/static/icons/arrow-down.svg
  src/static/icons/check-filled-unchecked.svg
  src/static/icons/check-filled.svg
  src/static/icons/dots-horizontaldd.svg
  src/static/icons/eye-closed.svg
  src/static/icons/eye-opened.svg
  src/static/icons/index.ts
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/heading/index.tsx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text/index.tsx
  src/ui/atoms/upload-area/usage.mdx
  src/ui/elements/quarks/box/index.ts
  src/ui/elements/quarks/box/index.tsx
  src/ui/elements/quarks/index.ts
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/molecules/accordion/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/modal/index.tsx
  src/ui/molecules/popover/index.tsx
  src/ui/molecules/radio-button/index.tsx
  src/ui/molecules/radio-button/usage.mdx
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor(elements): rename verticalBox
  src/ui/elements/quarks/box/index.ts
  src/ui/elements/quarks/index.ts
  src/ui/molecules/field/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(elements): remove quarks directory
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/list/index.tsx
  src/ui/elements/box/index.ts
  src/ui/elements/index.ts
  src/ui/elements/input-container/index.tsx
  src/ui/elements/input-element/index.tsx
  src/ui/molecules/field/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: building docs
  package.json
  src/lib/playground.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/surface/usage.mdx
  src/ui/molecules/popover/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

docs: publish process
  README.md
Due: prettier --write

ci: setup linter for PR
  .github/workflows/pull-request.yml
  .stylelintrc.json
  package.json
  yarn.lock
Due: none

ci(build): run build only on push into master
  .github/workflows/build.yml
Due: none

ci(pull_request): run only on aditional types of events
  .github/workflows/pull-request.yml
Due: none

style: reformat code and styles
  .github/workflows/pull-request.yml
  .stylelintrc.json
  package.json
  src/ui/atoms/backdrop/index.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/heading/index.tsx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/separator/index.tsx
  src/ui/atoms/table/index.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text/index.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/upload-area/index.tsx
  src/ui/elements/input-container/index.tsx
  src/ui/elements/input-element/index.tsx
  src/ui/molecules/accordion/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/modal/index.tsx
  src/ui/molecules/popover/index.tsx
  src/ui/molecules/radio-button/index.tsx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/switch/index.tsx
  src/ui/templates/grid/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ a828adf26e8bc622c919475b7178e6d1248e3588 🚀
  404.html
  404/index.html
  app-a75162892de3b33b404e.js
  app-a75162892de3b33b404e.js.LICENSE.txt
  app-a75162892de3b33b404e.js.map
  app-ce5e57cd47d3c5cf6661.js
  app-ce5e57cd47d3c5cf6661.js.map
  chunk-map.json
  index.html
  package/woly/component/accordion/index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/radio-button/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text/index.html
  package/woly/component/textarea/index.html
  package/woly/component/tooltip/index.html
  package/woly/component/upload-area/index.html
  page-data/app-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

bugfix: fix bugs
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/table/usage.mdx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/radio-button/usage.mdx
Due: prettier --write --parser mdx

docs: version must be set in versions.json
  README.md
Due: prettier --write

Deploying to gh-pages from @ a113ad8d5e9a41b17ab7617b547769d574814b2b 🚀
  package/woly/component/checkbox/index.html
  package/woly/component/field/index.html
  package/woly/component/list/index.html
  package/woly/component/radio-button/index.html
  package/woly/component/table/index.html
  page-data/package/woly/component/checkbox/page-data.json
  page-data/package/woly/component/field/page-data.json
  page-data/package/woly/component/list/page-data.json
  page-data/package/woly/component/radio-button/page-data.json
  page-data/package/woly/component/table/page-data.json
Due: none

fix: rewrite input on box-model
  src/ui/atoms/input/index.tsx
  src/ui/elements/input-container/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix bugs in upload-area styles and fix accordion example
  src/ui/molecules/accordion/usage.mdx
Due: prettier --write --parser mdx

Deploying to gh-pages from @ c7aa43dcaefc8646f25030689043ba1f2b6eefd8 🚀
  404.html
  404/index.html
  app-a75162892de3b33b404e.js
  app-a75162892de3b33b404e.js.map
  app-b765ccbdc529aa1df529.js
  app-b765ccbdc529aa1df529.js.LICENSE.txt
  app-b765ccbdc529aa1df529.js.map
  chunk-map.json
  index.html
  package/woly/component/accordion/index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/radio-button/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text/index.html
  package/woly/component/textarea/index.html
  package/woly/component/tooltip/index.html
  package/woly/component/upload-area/index.html
  page-data/app-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write
