Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "stylelint --fix",
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

fix: component refs
  .eslintrc
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  src/woly/atoms/avatar/index.tsx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/header-panel/index.tsx
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/input/index.tsx
  src/woly/atoms/label/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/list/usage.mdx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/separator/index.tsx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/table/index.tsx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/input-password/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/notification/index.tsx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/switch/index.tsx
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

style: remove semicolons.....
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Fix component refs (#192)
  .eslintrc
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  src/woly/atoms/avatar/index.tsx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/header-panel/index.tsx
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/input/index.tsx
  src/woly/atoms/label/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/list/usage.mdx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/separator/index.tsx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/table/index.tsx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/input-password/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/notification/index.tsx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/switch/index.tsx
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor(atoms/surface): goast to ghost
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/surface/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor(atoms/icon-box): goast to ghost
  src/woly/atoms/icon-box/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(molecules/tooltip): goast to ghost
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: woly@0.11.5
  build/packages.js
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  versions.json
Due: stylelint --fix, eslint --fix, prettier --write

fix(atoms/surface): make weight default for fill and priority for white
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  src/woly/atoms/surface/index.tsx
  versions.json
Due: stylelint --fix, eslint --fix, prettier --write

fix(avatar): img align
  src/woly/atoms/avatar/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(avatar): img align (#193)
  src/woly/atoms/avatar/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: woly@0.11.7
  versions.json
Due: none

Deploying to gh-pages from @ d41a23fb196ef53a97cb9cbe265cc3496cffbcbd 🚀
  src/calendar/time-picker/index.html
  upload/molecules/button-uploader/index.html
  upload/molecules/drag-uploader/index.html
  woly/atoms/avatar/index.html
  woly/atoms/backdrop/index.html
  woly/atoms/box/index.html
  woly/atoms/button-icon/index.html
  woly/atoms/button/index.html
  woly/atoms/chip/index.html
  woly/atoms/header-panel/index.html
  woly/atoms/heading/index.html
  woly/atoms/icon-box/index.html
  woly/atoms/input/index.html
  woly/atoms/label/index.html
  woly/atoms/list/index.html
  woly/atoms/loader/index.html
  woly/atoms/separator/index.html
  woly/atoms/surface/index.html
  woly/atoms/table/index.html
  woly/atoms/text-area/index.html
  woly/atoms/text/index.html
  woly/molecules/accordion/index.html
  woly/molecules/checkbox/index.html
  woly/molecules/data-table/index.html
  woly/molecules/field/index.html
  woly/molecules/input-password/index.html
  woly/molecules/modal/index.html
  woly/molecules/notification/index.html
  woly/molecules/popover/index.html
  woly/molecules/radio-button/index.html
  woly/molecules/select/index.html
  woly/molecules/switch/index.html
  woly/molecules/tabs/index.html
  woly/molecules/toast/index.html
  woly/molecules/tooltip/index.html
  woly/templates/grid/index.html
Due: none

feat: write API and description of DatePicker
  src/woly/index.ts
  src/woly/organisms/date-picker/usage.mdx
  src/woly/organisms/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: fix popover
  src/woly/atoms/surface/usage.mdx
  src/woly/molecules/popover/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: add handlers and autofocus to input
  src/woly/elements/input-element/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: implement date-picker
  package.json
  src/calendar/date-picker/index.tsx
  src/calendar/date-picker/usage.mdx
  src/calendar/index.ts
  src/woly/atoms/input/index.tsx
  src/woly/index.ts
  src/woly/molecules/popover/index.tsx
  src/woly/organisms/date-picker/usage.mdx
  src/woly/organisms/index.tsx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement multiselect
  src/woly/atoms/list/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/index.ts
  src/woly/molecules/index.ts
  src/woly/molecules/input-chip/index.tsx
  src/woly/molecules/input-chip/usage.mdx
  src/woly/molecules/popover/index.tsx
  src/woly/organisms/index.tsx
  src/woly/organisms/multiselect/constants.ts
  src/woly/organisms/multiselect/index.tsx
  src/woly/organisms/multiselect/option.tsx
  src/woly/organisms/multiselect/sort.tsx
  src/woly/organisms/multiselect/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx
