Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

build: trying to enable styled babel plugin for all
  .babelrc
  build/babel.js
  build/builder.js
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

docs: enable gatsby theme woly
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

docs: remove storybook configs, leave story temporary
  .config/eslint-config.json
  .storybook/addons.js
  .storybook/config.js
  .storybook/layout/fonts.js
  .storybook/layout/styles.js
  .storybook/layout/template.jsx
  .storybook/main.js
  .storybook/static/fonts/index.js
  .storybook/static/fonts/interfaces-bold.ttf
  .storybook/static/fonts/interfaces-regular.ttf
  .storybook/static/fonts/interfaces-thin.ttf
  .storybook/webpack.config.js
Due: eslint --fix, stylelint --fix, prettier --write

build(docs): publish gatsby
  .github/workflows/deploy-docs.yml
  gatsby-config.js
  package.json
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add formulas to chip
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/story.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Deploying to gh-pages from @ 9e263c206d4bfdbc15e93ead7763047b6a55e4c7 🚀
  404.html
  404/index.html
  app-2c73f110df14d344892a.js
  app-2c73f110df14d344892a.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floatiing/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input/index.html
  package/woly/component/inputPassword/index.html
  package/woly/component/label/index.html
  package/woly/component/popover/index.html
  package/woly/component/surface/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

Deploying to gh-pages from @ 224da6b55b6533d95e1235aa36f20c75946d762e 🚀
  404.html
  404/index.html
  app-bdf4c1e16093f691f5d3.js
  app-bdf4c1e16093f691f5d3.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floatiing/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input/index.html
  package/woly/component/inputPassword/index.html
  package/woly/component/label/index.html
  package/woly/component/popover/index.html
  package/woly/component/surface/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

docs: simplify documentation
  package.json
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/popover/index.tsx
  src/ui/atoms/popover/usage.mdx
  src/ui/atoms/surface/usage.mdx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/toggle/usage.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

docs: add code highlight
  package.json
  src/lib/highlight.jsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/menu-list/usage.mdx
  src/ui/atoms/notification/usage.mdx
  src/ui/atoms/popover/usage.mdx
  src/ui/atoms/surface/usage.mdx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/toggle/usage.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

docs: add icons as React component
  gatsby-config.js
  package.json
  src/static/icons/arrow-left.svg
  src/static/icons/index.ts
  src/static/icons/more.svg
  src/static/icons/search.svg
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/usage.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: add prefix path
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

docs: upgrade gatsby theme woly
  package.json
  yarn.lock
Due: none

Create CNAME
  static/CNAME
Due: none

Deploying to gh-pages from @ f4e9c744720308bfc3011555e4436b2973466748 🚀
  CNAME
Due: none

fix: change site url and remove path prefix
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write

Deploying to gh-pages from @ 7f228095431115d8a580a02e45e16da566b173ac 🚀
  404.html
  404/index.html
  app-0cd5128b1c391f2265ab.js
  app-0cd5128b1c391f2265ab.js.map
  app-a55af25b79fe2dd57461.js
  app-a55af25b79fe2dd57461.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input/index.html
  package/woly/component/inputPassword/index.html
  package/woly/component/label/index.html
  package/woly/component/menuList/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/surface/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  page-data/sq/d/1158639554.json
  sitemap.xml
  styles.3a6af4d8cdf84f5dea84.css
  styles.c4417a38e8ef048b88f6.css
  webpack-runtime-074ef35094852998569d.js
  webpack-runtime-074ef35094852998569d.js.map
  webpack-runtime-097b4a65d1f1e1530e2a.js
  webpack-runtime-097b4a65d1f1e1530e2a.js.map
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

fix(ui): remove Button variants and fix usage
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove ButtonIcon variants and fix usage
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove ButtonFloating variants and fix usage
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove Chip variants and fix usage
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove Input variants and fix usage
  src/ui/atoms/index.ts
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/molecules/input-password/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove Label variants and fix usage
  src/ui/atoms/index.ts
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/toggle/example.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove MenuList variants and fix usage
  src/ui/atoms/index.ts
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/menu-list/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove Notification variants and fix usage
  src/ui/atoms/index.ts
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/notification/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove Popover variants and fix usage
  src/ui/atoms/index.ts
  src/ui/atoms/popover/example.tsx
  src/ui/atoms/popover/index.tsx
  src/ui/atoms/popover/usage.mdx
  src/ui/atoms/surface/example.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove Surface variants and fix usage
  src/ui/atoms/index.ts
  src/ui/atoms/popover/example.tsx
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/surface/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove Checkbox variants and fix usage
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove InputPassword variants and fix usage
  src/ui/molecules/index.ts
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): remove Toggle variants and fix usage
  src/ui/molecules/index.ts
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ ddab1b2c24fbeacbdd63c4613ca15273045a407c 🚀
  404.html
  404/index.html
  app-9e22b277b1690e5e2757.js
  app-9e22b277b1690e5e2757.js.map
  app-a55af25b79fe2dd57461.js
  app-a55af25b79fe2dd57461.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input/index.html
  package/woly/component/inputPassword/index.html
  package/woly/component/label/index.html
  package/woly/component/menuList/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/surface/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  page-data/package/woly/component/button-floating/page-data.json
  page-data/package/woly/component/button-icon/page-data.json
  page-data/package/woly/component/button/page-data.json
  page-data/package/woly/component/checkbox/page-data.json
  page-data/package/woly/component/chip/page-data.json
  page-data/package/woly/component/input/page-data.json
  page-data/package/woly/component/inputPassword/page-data.json
  page-data/package/woly/component/label/page-data.json
  page-data/package/woly/component/menuList/page-data.json
  page-data/package/woly/component/notification/page-data.json
  page-data/package/woly/component/popover/page-data.json
  page-data/package/woly/component/surface/page-data.json
  page-data/package/woly/component/toggle/page-data.json
  sitemap.xml
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add variant prop to Notification
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/notification/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add variant prop to Surface
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
