Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

[FRNT-191] implement new chip version (#56)
  .eslintrc
  src/static/icons/index.ts
  src/static/icons/plus.svg
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

[FRNT-366] fix surface (#64)
  src/lib/box-styles.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/surface/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ d110898d76dfa40ce9151ffbd512fc7e1b47a3aa 🚀
  404.html
  404/index.html
  app-ad61b7b215f2392f70cb.js
  app-ad61b7b215f2392f70cb.js.map
  app-c8369ee81f68679858dc.js
  app-c8369ee81f68679858dc.js.LICENSE.txt
  app-c8369ee81f68679858dc.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/chip/page-data.json
  page-data/package/woly/component/input-password/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

feat: add field component
  src/static/icons/index.ts
  src/ui/atoms/input/index.tsx
  src/ui/atoms/list/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix select
  gatsby-node.js
  src/lib/box-styles.tsx
  src/lib/index.ts
  src/lib/keyboard-event.ts
  src/lib/select-handlers.ts
  src/static/icons/arrow.svg
  src/static/icons/index.ts
  src/ui/molecules/select/example.tsx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

[FRNT-345] Rewrite Select to div instead of input, and fix paddings (#61)
  gatsby-node.js
  src/lib/box-styles.tsx
  src/lib/index.ts
  src/lib/keyboard-event.ts
  src/lib/select-handlers.ts
  src/static/icons/arrow.svg
  src/static/icons/index.ts
  src/ui/molecules/select/example.tsx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix popover
  src/ui/atoms/index.ts
  src/ui/atoms/popover/example.tsx
  src/ui/atoms/popover/index.tsx
  src/ui/atoms/popover/usage.mdx
  src/ui/molecules/index.ts
  src/ui/molecules/popover/index.tsx
  src/ui/molecules/popover/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix tooltip position lib
  src/lib/position-relative.tsx
  src/ui/atoms/tooltip/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

bugfix: fix doc build
  src/lib/box-styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix button
  src/lib/box-styles.tsx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/surface/example.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

bugfix: fix doc build (#69)
  src/lib/box-styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix button (#62)
  src/lib/box-styles.tsx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/surface/example.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

bugfix: fix surface mdx
  src/ui/atoms/surface/usage.mdx
Due: prettier --write --parser mdx

bugfix: fix surface mdx (#70)
  src/ui/atoms/surface/usage.mdx
Due: prettier --write --parser mdx

Deploying to gh-pages from @ 7ba52f7dbf4cab70b1a6c44bec17cb09e0c125e4 🚀
  404.html
  404/index.html
  app-b0e9fdcf3e8d8c55ef99.js
  app-b0e9fdcf3e8d8c55ef99.js.LICENSE.txt
  app-b0e9fdcf3e8d8c55ef99.js.map
  app-c8369ee81f68679858dc.js
  app-c8369ee81f68679858dc.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/button/page-data.json
  page-data/package/woly/component/popover/page-data.json
  page-data/package/woly/component/select/page-data.json
  page-data/package/woly/component/surface/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

add inputElement, inputContainer, create new Input
  src/static/icons/index.ts
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/list/index.tsx
  src/ui/elements/quarks/index.ts
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

add password input example
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/elements/quarks/index.ts
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix styles
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: implement headerpanel
  src/lib/box-styles.tsx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/header-panel/usage.mdx
  src/ui/atoms/index.ts
  src/ui/atoms/list/index.tsx
  src/ui/molecules/checkbox/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(test): remove cypress
  package.json
  yarn.lock
Due: none

woly v0.4.0
  versions.json
Due: none

Deploying to gh-pages from @ a97bd0b4e531a3e9b3bd5d56d7cf8a8a1e1439a5 🚀
  404.html
  404/index.html
  app-b0e9fdcf3e8d8c55ef99.js
  app-b0e9fdcf3e8d8c55ef99.js.map
  app-e2c84170d21626d8675c.js
  app-e2c84170d21626d8675c.js.LICENSE.txt
  app-e2c84170d21626d8675c.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/button/page-data.json
  page-data/package/woly/component/checkbox/page-data.json
  page-data/package/woly/component/chip/page-data.json
  page-data/package/woly/component/label/page-data.json
  page-data/package/woly/component/list/page-data.json
  page-data/package/woly/component/popover/page-data.json
  page-data/package/woly/component/surface/page-data.json
  page-data/package/woly/component/text-area/page-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

feat: implement Text atom
  src/lib/box-styles.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/text/index.tsx
  src/ui/atoms/text/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat: implement Heading atom
  src/lib/box-styles.tsx
  src/ui/atoms/heading/index.tsx
  src/ui/atoms/heading/usage.mdx
  src/ui/atoms/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: add script, fix select playground
  package.json
  src/ui/molecules/select/usage.mdx
Due: prettier --write --parser mdx

Deploying to gh-pages from @ 63a6efce6f060260881c7d4a008b1dc66db5c998 🚀
  package/woly/component/select/index.html
  page-data/package/woly/component/select/page-data.json
Due: none

feat: implement Backdrop atom
  src/lib/box-styles.tsx
  src/ui/atoms/backdrop/index.tsx
  src/ui/atoms/backdrop/usage.mdx
  src/ui/atoms/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix tooltip position
  src/ui/atoms/index.ts
  src/ui/atoms/tooltip/example.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 7c824a3639c82b2fcb0e6774773387fef3d0bbe6 🚀
  404.html
  404/index.html
  app-13d39462046a695af20c.js
  app-13d39462046a695af20c.js.LICENSE.txt
  app-13d39462046a695af20c.js.map
  app-e2c84170d21626d8675c.js
  app-e2c84170d21626d8675c.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/tooltip/page-data.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

Deploying to gh-pages from @ cbf0300d70d597b6221b36a9e3e564ecbfb17416 🚀
  404.html
  404/index.html
  app-13d39462046a695af20c.js
  app-13d39462046a695af20c.js.map
  app-76c3ac8486a2e5997e02.js
  app-76c3ac8486a2e5997e02.js.LICENSE.txt
  app-76c3ac8486a2e5997e02.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/backdrop/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

fix: fix checkbox styles
  src/lib/index.ts
  src/lib/keyboard-event.ts
  src/lib/select-handlers.ts
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/select/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix: fix styles
  CONTRIBUTING.md
  src/lib/box-styles.tsx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/header-panel/usage.mdx
  src/ui/atoms/surface/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ ddaeb780e349ce6e7142bea6b9c8ec97c9892445 🚀
  404.html
  404/index.html
  app-543c48b1e8361ef5272f.js
  app-543c48b1e8361ef5272f.js.LICENSE.txt
  app-543c48b1e8361ef5272f.js.map
  app-76c3ac8486a2e5997e02.js
  app-76c3ac8486a2e5997e02.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/text-area/index.html
  package/woly/component/toggle/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/heading/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
