Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-543] create tab and tabbar component (#123)
  .editorconfig
  .eslintrc
  src/woly/atoms/button-icon/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/tabs/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(styling): data-icon attributes
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(tabs): data-icon attribute
  src/woly/molecules/tabs/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(checkbox): data-icon attribute
  src/woly/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[DS-40] Fix refactored data-icon in box components (#186)
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/toast/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: implement priorities fabric
  src/dev/global.ts
  src/lib/priority.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/priorities.mdx
  src/woly/atoms/button/state-props.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: correct vw palette
  src/dev/global.ts
  src/lib/priority.tsx
  src/woly/atoms/text/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: remove examples, remove some weight variants
  src/dev/global.ts
  src/lib/priority.tsx
  src/woly/atoms/button/priorities.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: add priority-weight matrix
  src/dev/global.ts
  src/dev/maps/common/combination.ts
  src/dev/maps/common/group-by-key.ts
  src/dev/maps/priority-weight-map.tsx
  src/dev/playground.tsx
  src/lib/priority.tsx
  src/woly/organisms/palette-example/index.tsx
  src/woly/organisms/palette-example/palette-example.tsx
  src/woly/organisms/palette-example/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor: explicitly pass palette name
  src/dev/global.ts
  src/lib/priority.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: correct path
  src/woly/atoms/button/priorities.mdx
Due: prettier --write --parser mdx

fix: correct white priority
  src/dev/global.ts
  src/lib/priority.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix: correct paths
  src/dev/global.ts
Due: stylelint --fix, eslint --fix, prettier --write

refactor: return example, update branch
  src/woly/atoms/button/priorities.mdx
Due: prettier --write --parser mdx

feat: add palette example
  src/woly/organisms/palette-example/palette-example.tsx
  src/woly/organisms/palette-example/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: add all palettes to example
  src/lib/palette.tsx
  src/woly/organisms/palette-example/palette-example.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-603] Refactor data-attributes (#181)
  CONTRIBUTING.md
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/upload/elements/upload-area/index.tsx
  src/upload/molecules/button-uploader/index.tsx
  src/upload/molecules/drag-uploader/index.tsx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/separator/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/input-password/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/switch/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-592] feat: implement level decrement (#179)
  src/dev/global.ts
  src/lib/level-downgrade.ts
  src/woly/elements/input-container/index.tsx
  src/woly/index.ts
  src/woly/woly-global-styles.ts
Due: stylelint --fix, eslint --fix, prettier --write

feat(docs): upgrade gatsby theme version (#183)
  .eslintignore
  .gitignore
  gatsby-config.js
  gatsby-node.js
  package.json
  src/woly/atoms/button/usage.mdx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-548] Add documentation configurator (#170)
  package.json
  src/lib/configurators/color/index.tsx
  src/lib/configurators/color/scopes.ts
  src/lib/configurators/common/sections.tsx
  src/lib/configurators/common/variable-field.tsx
  src/lib/configurators/configurators.tsx
  src/lib/configurators/context.ts
  src/lib/configurators/index.ts
  src/lib/configurators/inputs/color.tsx
  src/lib/configurators/inputs/types.tsx
  src/lib/configurators/stylesheet.tsx
  src/lib/configurators/types.ts
  src/lib/hooks/use-force-update.ts
  src/lib/hooks/use-sync-height.tsx
  src/lib/hooks/use-unique-id.ts
  src/lib/map-generation.tsx
  src/lib/playground.tsx
  src/static/icons/color-palette.svg
  src/static/icons/index.ts
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

feat(data-table): improve usage
  package.json
  src/woly/molecules/data-table/filter.tsx
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/range-cell.tsx
  src/woly/molecules/data-table/types.ts
  src/woly/molecules/data-table/usage-helpers.tsx
  src/woly/molecules/data-table/usage.mdx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

wip: update
  src/dev/global.ts
  src/dev/playground.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(table): text color
  src/woly/atoms/table/index.tsx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

fix(data-table): typo
  src/woly/molecules/data-table/usage.mdx
Due: prettier --write --parser mdx

fix(table): add comment
  src/woly/atoms/table/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-507] Implement data table (#124)
  package.json
  src/woly/atoms/table/index.tsx
  src/woly/atoms/table/usage.mdx
  src/woly/molecules/data-table/filter.tsx
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/range-cell.tsx
  src/woly/molecules/data-table/types.ts
  src/woly/molecules/data-table/usage.mdx
  src/woly/molecules/index.ts
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

wip: update lock
  yarn.lock
Due: none

wip: remove woly-text variable
  src/dev/global.ts
  src/woly/atoms/avatar/index.tsx
  src/woly/elements/input-element/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

chore(calendar): use tsx playground in usage
  src/calendar/time-picker/usage.mdx
Due: prettier --write --parser mdx

feat: implement time picker
  gatsby-node.js
  src/calendar/index.ts
  src/calendar/time-picker/index.tsx
  src/calendar/time-picker/types.ts
  src/calendar/time-picker/usage.mdx
  src/dev/global.ts
  src/lib/hooks/index.ts
  src/lib/hooks/use-update-effect.ts
  src/woly/atoms/input/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/molecules/popover/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat(calendar): move logic to hook, rename view to format, dont use ref to store value
  src/calendar/time-picker/index.tsx
  src/calendar/time-picker/types.ts
  src/calendar/time-picker/usage.mdx
  src/calendar/time-picker/use-time-picker.tsx
  src/woly/atoms/input/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(molecules/popover): always close on esc key
  src/woly/molecules/popover/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(timepicker/calendar): use data-element for stub, fix stub height
  src/calendar/time-picker/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[DS-39] feat: implement time picker (#184)
  gatsby-node.js
  src/calendar/index.ts
  src/calendar/time-picker/index.tsx
  src/calendar/time-picker/types.ts
  src/calendar/time-picker/usage.mdx
  src/calendar/time-picker/use-time-picker.tsx
  src/dev/global.ts
  src/lib/hooks/index.ts
  src/lib/hooks/use-update-effect.ts
  src/woly/atoms/input/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/molecules/popover/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
