Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "stylelint --fix",
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

refactor: remove examples, remove some weight variants
  src/lib/global.ts
  src/lib/priority.tsx
  src/woly/atoms/button/priorities.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: correct white priority
  src/lib/global.ts
  src/lib/priority.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-520] Rewrite tooltip (#129)
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

chore: bump version
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Due: none

chore: bump version (#169)
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Due: none

Deploying to gh-pages from @ 9e90135c4edec679a0abd43f3d811f1c2a3c26d0 🚀
  page-data/woly/atoms/chip/page-data.json
Due: none

feat(docs): add configurators (+ color configurator)
  package.json
  src/lib/configurators/color/index.tsx
  src/lib/configurators/color/scopes.ts
  src/lib/configurators/common/sections.tsx
  src/lib/configurators/common/variable-field.tsx
  src/lib/configurators/configurators.tsx
  src/lib/configurators/context.ts
  src/lib/configurators/index.ts
  src/lib/configurators/inputs/color.tsx
  src/lib/configurators/inputs/types.tsx
  src/lib/configurators/stylesheet.tsx
  src/lib/configurators/types.ts
  src/lib/hooks/use-force-update.ts
  src/lib/hooks/use-sync-height.tsx
  src/lib/hooks/use-unique-id.ts
  src/lib/map-generation.tsx
  src/lib/playground.tsx
  src/static/icons/color-palette.svg
  src/static/icons/index.ts
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

style(docs): fix spaces
  src/woly/atoms/button/usage.mdx
Due: prettier --write --parser mdx

style(icons): format
  src/static/icons/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

style: lint styles
  src/lib/configurators/common/sections.tsx
  src/lib/configurators/common/variable-field.tsx
  src/lib/configurators/configurators.tsx
  src/lib/configurators/inputs/color.tsx
Due: stylelint --fix, eslint --fix, prettier --write

chore: add lint:style:fix command
  package.json
Due: none

perf(configurators): replace heavy libraries
  package.json
  src/lib/configurators/inputs/color.tsx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-562] add icon component (#163)
  src/lib/global.ts
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
  src/woly/atoms/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-568] add font stacks (#153)
  src/lib/font-stacks.ts
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/text/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-396] Rewrite data selectors (#150)
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-560] add weight to button-icon (#164)
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-559] add toast weight (#165)
  src/lib/global.ts
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-564] Implement color palette fabrics (#162)
  src/lib/global.ts
  src/lib/palette.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat(docs): add configurators (+ color configurator)
  package.json
  src/woly/atoms/button/usage.mdx
  yarn.lock
Due: prettier --write --parser mdx

feat(docs): add white priority to configurators
  src/lib/configurators/color/scopes.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix(styles): typo
  src/lib/font-stacks.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix(styles): typo (#171)
  src/lib/font-stacks.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix: naming
  build/packages.js
  src/upload/molecules/button-uploader/index.tsx
  src/upload/molecules/button-uploader/usage.mdx
  src/upload/molecules/drag-uploader/index.tsx
  src/upload/molecules/drag-uploader/usage.mdx
  src/upload/molecules/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: rename Dropzone to Upload -clean usages -add missing validator in upload button -dont export upload area, move it to elements
  packages/upload/package.json
  src/upload/atoms/upload-area/usage.mdx
  src/upload/elements/index.ts
  src/upload/elements/upload-area/index.tsx
  src/upload/index.ts
  src/upload/molecules/dropzone/usage.mdx
  src/upload/molecules/index.ts
  src/upload/molecules/upload-button/index.tsx
  src/upload/molecules/upload-button/usage.mdx
  src/upload/molecules/upload/index.tsx
  src/upload/molecules/upload/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: upload directory on all packages dont use single repository object for all packages
  build/packages.js
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
Due: stylelint --fix, eslint --fix, prettier --write

feat: implement upload package
  build/builder.js
  build/index.js
  build/packages.js
  package.json
  packages/upload/README.md
  packages/upload/index.ts
  packages/upload/package.json
  src/upload/atoms/index.ts
  src/upload/atoms/upload-area/index.tsx
  src/upload/atoms/upload-area/usage.mdx
  src/upload/index.ts
  src/upload/molecules/dropzone/index.tsx
  src/upload/molecules/dropzone/usage.mdx
  src/upload/molecules/index.ts
  src/upload/molecules/upload-button/index.tsx
  src/upload/molecules/upload-button/usage.mdx
  src/woly/atoms/index.ts
  src/woly/molecules/index.ts
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: review comments
  src/upload/molecules/button-uploader/index.tsx
  src/upload/molecules/button-uploader/usage.mdx
  src/upload/molecules/drag-uploader/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-542] Implement upload package (#134)
  build/builder.js
  build/index.js
  build/packages.js
  package.json
  packages/calendar/package.json
  packages/upload/README.md
  packages/upload/index.ts
  packages/upload/package.json
  src/upload/elements/index.ts
  src/upload/elements/upload-area/index.tsx
  src/upload/index.ts
  src/upload/molecules/button-uploader/index.tsx
  src/upload/molecules/button-uploader/usage.mdx
  src/upload/molecules/drag-uploader/index.tsx
  src/upload/molecules/drag-uploader/usage.mdx
  src/upload/molecules/index.ts
  src/woly/atoms/index.ts
  src/woly/atoms/upload-area/usage.mdx
  src/woly/molecules/index.ts
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(field): label inline element bug
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(field): remove unused imports
  src/woly/molecules/field/usage.mdx
Due: prettier --write --parser mdx

refactor(configurators): change layout and color
  src/lib/configurators/configurators.tsx
  src/lib/configurators/inputs/color.tsx
  src/lib/map-generation.tsx
  src/lib/playground.tsx
Due: stylelint --fix, eslint --fix, prettier --write

chore(deps): update lock
  yarn.lock
Due: none

[FRNT-591] Fix label's paddings bug in Field component (#173)
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx
