Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(data-table): types
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/types.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix(data-table): import
  src/woly/molecules/data-table/usage.mdx
Due: prettier --write --parser mdx

rewite surface, update palette and usage
  src/lib/global.ts
  src/static/icons/index.ts
  src/static/icons/threebars.svg
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/surface/usage.mdx
  src/woly/atoms/text/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix update
  src/woly/atoms/upload-area/index.tsx
  src/woly/organisms/select/index.tsx
  src/woly/organisms/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat(data-table): add an export for DataTableColumn type
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/index.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix(data-table): usage and types
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/usage.mdx
  src/woly/molecules/index.ts
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(configurators): hardcoded configurator name
  src/lib/configurators/color/index.tsx
  src/lib/configurators/common/sections.tsx
  src/lib/configurators/common/variable-field.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(configurators): remove unused data-attribute
  src/lib/configurators/configurators.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(configurators): replace transparency parrent with svg
  src/lib/configurators/inputs/color.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(configurators): styling
  src/lib/configurators/common/sections.tsx
Due: stylelint --fix, eslint --fix, prettier --write

style(configurators): remove unnecessary xmlns attribute
  src/lib/configurators/inputs/color.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(configurators): styling
  src/lib/configurators/configurators.tsx
  src/lib/configurators/inputs/color.tsx
Due: stylelint --fix, eslint --fix, prettier --write

style(configurators): remove unnecessary variables
  src/lib/configurators/stylesheet.tsx
Due: stylelint --fix, eslint --fix, prettier --write

style(configurators): remove useless code
  src/lib/playground.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(configurator): stylesheets, simplify and add some comments
  src/lib/configurators/stylesheet.tsx
  src/lib/configurators/types.ts
Due: stylelint --fix, eslint --fix, prettier --write

fix(configurators): add viewbox for svg
  src/lib/configurators/inputs/color.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(configurators): remove unused refs
  src/lib/playground.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat(configurators): add scope colors
  src/lib/configurators/color/scopes.ts
Due: stylelint --fix, eslint --fix, prettier --write

feat(configurators): limit the height of configurator's tab
  src/lib/configurators/configurators.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor(configurators): remove unused forwardRef
  src/lib/configurators/configurators.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix(configurators): typo
  src/lib/configurators/stylesheet.tsx
Due: stylelint --fix, eslint --fix, prettier --write

rewite surface, update palette and usage (#178)
  src/lib/global.ts
  src/static/icons/index.ts
  src/static/icons/threebars.svg
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/surface/usage.mdx
  src/woly/atoms/text/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor: update some sections
  src/woly/atoms/button-icon/specification.mdx
Due: prettier --write --parser mdx

docs(woly/button-icon): specification – typo in 'Overview'
  src/woly/atoms/button-icon/specification.mdx
Due: prettier --write --parser mdx

docs(woly/button-icon): add specification
  src/woly/atoms/button-icon/specification.mdx
Due: prettier --write --parser mdx

docs(woly/button-icon): specification – changes in 'Overview' and 'Behaviors'
  src/woly/atoms/button-icon/specification.mdx
Due: prettier --write --parser mdx

refactor: corrections
  src/woly/atoms/button-icon/specification.mdx
Due: prettier --write --parser mdx

docs(woly/button-icon): specification – changes in 'Overview', 'Placement' and 'Behaviors'
  src/woly/atoms/button-icon/specification.mdx
Due: prettier --write --parser mdx

[FRNT-505] add specification for button icon (#151)
  src/woly/atoms/button-icon/specification.mdx
Due: prettier --write --parser mdx

feat(tests): add screenshot testing
  .gitignore
  README.md
  cypress/integration/sample_spec.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  screenshot-testing/get-configs.js
  screenshot-testing/index.js
  screenshot-testing/make-screenshots.js
  screenshot-testing/make-snapshots.js
  screenshot-testing/screenshot-page-template.pug
  src/lib/state-map.tsx
  src/woly/atoms/button/__screenshot-test__/config.js
  src/woly/atoms/button/__screenshot-test__/index.tsx
  src/woly/molecules/input-password/__screenshot-test__/config.js
  src/woly/molecules/input-password/__screenshot-test__/index.tsx
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

feat: change screenshot wrapper style from config
  screenshot-testing/index.js
  screenshot-testing/make-screenshots.js
  screenshot-testing/make-snapshots.js
  screenshot-testing/screenshot-page-template.pug
  src/lib/state-map.tsx
  src/woly/molecules/input-password/__screenshot-test__/config.js
Due: stylelint --fix, eslint --fix, prettier --write

feat: add test for chip
  src/woly/atoms/chip/__screenshot-test__/config.js
  src/woly/atoms/chip/__screenshot-test__/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: test in parallel
  screenshot-testing/index.js
Due: stylelint --fix, eslint --fix, prettier --write

fix: correct configs including and excluding logic
  screenshot-testing/get-configs.js
  screenshot-testing/index.js
Due: stylelint --fix, eslint --fix, prettier --write

feat: add INCLUDE arg to test-runner
  README.md
  screenshot-testing/get-configs.js
Due: stylelint --fix, eslint --fix, prettier --write

refactor: renaning, add todos
  screenshot-testing/get-configs.js
  screenshot-testing/index.js
  src/lib/state-map.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: add command for ci
  package.json
Due: none

refactor: parallel more processes of test-runner
  screenshot-testing/make-screenshots.js
  screenshot-testing/make-snapshots.js
Due: stylelint --fix, eslint --fix, prettier --write

refactor: more error messages, change snapshot layout, update doc and tests
  README.md
  screenshot-testing/get-configs.js
  screenshot-testing/index.js
  screenshot-testing/make-screenshots.js
  screenshot-testing/make-snapshots.js
  screenshot-testing/screenshot-page-template.pug
  src/lib/state-map.tsx
  src/woly/atoms/button/__screenshot-test__/config.js
  src/woly/atoms/button/__screenshot-test__/index.tsx
  src/woly/molecules/input-password/__screenshot-test__/config.js
  src/woly/molecules/input-password/__screenshot-test__/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
