Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: add styled-components type
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/header-panel/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: add css property for shadow
  src/lib/box-styles.tsx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

add styles
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

rewrite select styles
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix checkbox styles
  src/ui/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-477] Implement danger variant (#95)
  src/lib/box-styles.tsx
  src/ui/atoms/heading/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/atoms/text/index.tsx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/switch/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 2b74b94c530555938eff49824cb76e4998ebfbf6 🚀
  404.html
  404/index.html
  app-3507d1bfe55267b7c234.js
  app-3507d1bfe55267b7c234.js.map
  app-67207928028ad53549da.js
  app-67207928028ad53549da.js.LICENSE.txt
  app-67207928028ad53549da.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/field/page-data.json
  page-data/package/woly/component/input/page-data.json
  page-data/package/woly/component/switch/page-data.json
  page-data/package/woly/component/text-area/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

feat: add foliage interface as POC
  src/lib/foliage.ts
Due: stylelint --fix, eslint --fix, prettier --write

implement radio-button
  src/ui/molecules/radio-button/index.tsx
  src/ui/molecules/radio-button/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

test
  package.json
  src/lib/foliage.ts
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

implement accordion component
  src/lib/box-styles.tsx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/separator/index.tsx
  src/ui/atoms/text/index.tsx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/accordeon/index.tsx
  src/ui/molecules/accordeon/usage.mdx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/index.ts
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/switch/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: add font-family for font weight display
  src/lib/box-styles.tsx
Due: stylelint --fix, eslint --fix, prettier --write

implement upload area component
  src/lib/box-styles.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/text/index.tsx
  src/ui/atoms/upload-area/index.tsx
  src/ui/atoms/upload-area/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/switch/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT- 450] Rewrite menulist (#85)
  src/lib/index.ts
  src/lib/listHandlers.ts
  src/lib/select-handlers.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 81b6fceb52c3de2d0a0b613dd44ae737a123c29d 🚀
  404.html
  404/index.html
  app-2f05e0951cd2c74e4a55.js
  app-2f05e0951cd2c74e4a55.js.LICENSE.txt
  app-2f05e0951cd2c74e4a55.js.map
  app-67207928028ad53549da.js
  app-67207928028ad53549da.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/list/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-511] Add font-family for font weight display (#97)
  src/lib/box-styles.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ 53691a0a0151d26754781e3fb584767df3f0885d 🚀
  404.html
  404/index.html
  app-2f05e0951cd2c74e4a55.js
  app-2f05e0951cd2c74e4a55.js.map
  app-3a3c0ad9f1843e5165ee.js
  app-3a3c0ad9f1843e5165ee.js.LICENSE.txt
  app-3a3c0ad9f1843e5165ee.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

Update src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-508] Fix checkbox styles (#101)
  src/ui/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ 412accd1ff4d91ce1b5eb1bd8685ebe302a3cacc 🚀
  404.html
  404/index.html
  app-3a3c0ad9f1843e5165ee.js
  app-3a3c0ad9f1843e5165ee.js.map
  app-4d104b323f82e83307d5.js
  app-4d104b323f82e83307d5.js.LICENSE.txt
  app-4d104b323f82e83307d5.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

fixed with comments
  src/lib/box-styles.tsx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/text/index.tsx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/switch/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fixed with comments
  src/ui/atoms/button/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-492] Fix styled types in header panel and add css prop for shadow (#96)
  src/lib/box-styles.tsx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/header-panel/usage.mdx
  src/ui/atoms/tooltip/index.tsx
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 6c649d52122b88339305d206db2a71f4ddecc494 🚀
  404.html
  404/index.html
  app-a020eeb36b116768e961.js
  app-a020eeb36b116768e961.js.map
  app-bb34aea4c7f7da47c062.js
  app-bb34aea4c7f7da47c062.js.LICENSE.txt
  app-bb34aea4c7f7da47c062.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/header-panel/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

fix: fix border width in components
  src/lib/box-styles.tsx
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix value color
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

feat: implement modal and add fixes
  src/lib/box-styles.tsx
  src/static/icons/close-small.svg
  src/ui/atoms/surface/index.tsx
  src/ui/molecules/index.ts
  src/ui/molecules/modal/index.tsx
  src/ui/molecules/modal/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-476] Implement secondary variant (#104)
  src/lib/box-styles.tsx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/atoms/text/index.tsx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
  src/ui/molecules/switch/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-500] Fix border width in components (#99)
  src/lib/box-styles.tsx
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

Deploying to gh-pages from @ 171c8fd8466e2d9e6b458314f900db8526611dd6 🚀
  404.html
  404/index.html
  app-bd97d44016305ba4055e.js
  app-bd97d44016305ba4055e.js.LICENSE.txt
  app-bd97d44016305ba4055e.js.map
  app-ccbb497dcd2d7721954f.js
  app-ccbb497dcd2d7721954f.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-368] Implement modal (#106)
  src/lib/box-styles.tsx
  src/static/icons/close-small.svg
  src/ui/atoms/surface/index.tsx
  src/ui/molecules/index.ts
  src/ui/molecules/modal/index.tsx
  src/ui/molecules/modal/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ 92e9d09fc5d2feaa143750c065e337b87f40eb01 🚀
  404.html
  404/index.html
  app-4f91bdee5ec605eeb11e.js
  app-4f91bdee5ec605eeb11e.js.LICENSE.txt
  app-4f91bdee5ec605eeb11e.js.map
  app-bd97d44016305ba4055e.js
  app-bd97d44016305ba4055e.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/backdrop/page-data.json
  page-data/package/woly/component/modal/page-data.json
  page-data/sq/d/1158639554.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

Update versions.json
  versions.json
Due: none

fix: fix input focus
  src/lib/box-styles.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

[FRNT-514 FRNT-512] Fix input focus (#102)
  src/lib/box-styles.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Deploying to gh-pages from @ bc37f0f59b6e149e21723b0665165fef8873c95d 🚀
  404.html
  404/index.html
  app-4f91bdee5ec605eeb11e.js
  app-4f91bdee5ec605eeb11e.js.map
  app-ff82e196304a45018cd6.js
  app-ff82e196304a45018cd6.js.LICENSE.txt
  app-ff82e196304a45018cd6.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/modal/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/separator/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/table/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/input/page-data.json
  webpack.stats.json
Due: stylelint --fix, eslint --fix, prettier --write

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
