Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(build): disable viewbox removing
  build/builder.js
Due: stylelint --fix, eslint --fix, prettier --write

fix: loader wrong case in svg
  src/static/icons/spinner.svg
Due: none

[FRNT-595] fix Loader (#174)
  build/builder.js
  src/static/icons/spinner.svg
Due: stylelint --fix, eslint --fix, prettier --write

fix tooltip styles, fix chip, button and button-icon styles
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

fix tooltip styles, fix chip, button and button-icon styles (#175)
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/molecules/tooltip/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: add boxInline
  src/woly/elements/box/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: use box-inline in checkbox instead of box
  src/woly/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: change formula
  src/woly/elements/box/index.tsx
  src/woly/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat(data-table): add head renderer
  src/woly/molecules/data-table/filter.tsx
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix: correct formula
  src/woly/elements/box/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat(data-table): add rowKey
  src/woly/molecules/data-table/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-586] fix checkbox paddings (#176)
  src/woly/elements/box/index.tsx
  src/woly/molecules/checkbox/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: simplify checks
  src/woly/molecules/modal/use-scroll-lock.ts
Due: stylelint --fix, eslint --fix, prettier --write

refactor: add date to todo comments, change scroll block logic
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/use-scroll-lock.ts
Due: stylelint --fix, eslint --fix, prettier --write

refactor: change min max width formula
  src/woly/molecules/modal/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: revert close icon style
  src/woly/molecules/modal/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: add box, pass some props to close button
  src/woly/molecules/modal/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: add comments
  src/woly/molecules/modal/use-scroll-lock.ts
Due: stylelint --fix, eslint --fix, prettier --write

refactor: remove block, remove props usage in styles
  src/woly/molecules/modal/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

wip: change close button, rewrite styles
  src/woly/molecules/modal/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

feat: add use-scroll-lock
  src/lib/use-scroll-lock.ts
Due: stylelint --fix, eslint --fix, prettier --write

refactor: block scroll when modal is open, small adjustments
  src/woly/molecules/modal/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: use var for backdrop
  src/lib/global.ts
  src/woly/atoms/backdrop/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

refactor: move use-scroll-lock to modal
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/use-scroll-lock.ts
Due: stylelint --fix, eslint --fix, prettier --write

refactor: remove rebundant checks
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/use-scroll-lock.ts
Due: stylelint --fix, eslint --fix, prettier --write

[FRNT-579] fix modal styles (#172)
  src/lib/global.ts
  src/woly/atoms/backdrop/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/use-scroll-lock.ts
Due: stylelint --fix, eslint --fix, prettier --write

chore: bump version
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  versions.json
Due: none

chore: bump version (#177)
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  versions.json
Due: none

Deploying to gh-pages from @ 76aab5df582124dcd900f1dcc7e9f44c2608dcff 🚀
  page-data/woly/atoms/button/page-data.json
Due: none

refactor(data-table): split up things
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/types.ts
  src/woly/molecules/data-table/usage-helpers.tsx
  src/woly/molecules/data-table/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

fix(data-table/filter): checkboxes behavior
  src/woly/molecules/data-table/filter.tsx
Due: stylelint --fix, eslint --fix, prettier --write

rewite select with popover and surface
  src/lib/keyboard-event.ts
  src/lib/select-handlers.ts
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/select/index.tsx
Due: stylelint --fix, eslint --fix, prettier --write

update branch
  packages/calendar/package.json
  packages/woly/package.json
  src/upload/elements/upload-area/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/list/usage.mdx
  src/woly/index.ts
  src/woly/molecules/index.ts
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/select/usage.mdx
  src/woly/organisms/select/index.tsx
  src/woly/organisms/select/usage.mdx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

refactor(data-table): small changes
  src/woly/atoms/table/usage.mdx
  src/woly/molecules/data-table/filter.tsx
  src/woly/molecules/data-table/types.ts
  src/woly/molecules/data-table/usage-helpers.tsx
Due: stylelint --fix, eslint --fix, prettier --write, prettier --write --parser mdx

Path conditions:
  stylelint --fix: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.md)
  prettier --write --parser mdx: any of: *.mdx
