Repository woly-ui/woly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": [
    "eslint --fix",
    "stylelint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write --parser mdx"
  ]
}

feat(ui): add variant prop to Popover
  src/lib/box-styles.tsx
  src/ui/atoms/popover/example.tsx
  src/ui/atoms/popover/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add variant prop to Button
  src/lib/box-styles.tsx
  src/lib/types.ts
  src/types/woly.d.ts
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/themes/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat(ui): add variant prop to Input
  src/lib/box-styles.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add variant prop to ButtonIcon
  src/lib/box-styles.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat(ui): add variant prop to Label
  src/lib/box-styles.tsx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/themes/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat(ui): add variant prop to MenuList
  src/ui/atoms/menu-list/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add variant prop to Chip
  src/lib/box-styles.tsx
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat(ui): add variant prop to InputPassword
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add variant prop to Checkbox
  src/lib/box-styles.tsx
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add variant prop to ButtonFloating
  src/lib/box-styles.tsx
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button-floating/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat(ui): add variant prop to Toggle
  src/lib/box-styles.tsx
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/usage.mdx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): add aliases
  .eslintrc
  gatsby-node.js
  package.json
  src/static/icons/index.ts
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/menu-list/usage.mdx
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/popover/example.tsx
  src/ui/atoms/popover/usage.mdx
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/usage.mdx
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/usage.mdx
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

feat(ui): add variant prop to Notification
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/notification/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat(ui): add variant prop to Surface
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Deploying to gh-pages from @ e693e17fc28fc6668ef97e4585864f6e8ce8cacc 🚀
  404.html
  404/index.html
  app-04b76b508f13272744cb.js
  app-04b76b508f13272744cb.js.map
  app-9e22b277b1690e5e2757.js
  app-9e22b277b1690e5e2757.js.map
  chunk-map.json
  index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/input/index.html
  package/woly/component/inputPassword/index.html
  package/woly/component/label/index.html
  package/woly/component/menuList/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/surface/index.html
  package/woly/component/toggle/index.html
  page-data/app-data.json
  page-data/package/woly/component/button-floating/page-data.json
  page-data/package/woly/component/button-icon/page-data.json
  page-data/package/woly/component/button/page-data.json
  page-data/package/woly/component/chip/page-data.json
  page-data/package/woly/component/inputPassword/page-data.json
  page-data/package/woly/component/label/page-data.json
  page-data/package/woly/component/toggle/page-data.json
  sitemap.xml
  webpack.stats.json
Due: eslint --fix, stylelint --fix, prettier --write

feat: upgrade woly theme to 0.5.0
  package.json
  yarn.lock
Due: none

fix(ui): simplify variable names for components
  src/lib/box-styles.tsx
  src/static/icons/close-small.svg
  src/static/icons/search.svg
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/menu-list/usage.mdx
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/popover/example.tsx
  src/ui/atoms/popover/index.tsx
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): fix line-height
  src/lib/box-styles.tsx
  src/ui/atoms/button-icon/example.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/notification/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, prettier --write --parser mdx

fix(ui): change checkbox by clicking label
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(ui): change toggle by clicking label
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix(docs): fix menu name to param-case
  src/ui/atoms/menu-list/usage.mdx
  src/ui/molecules/input-password/usage.mdx
Due: prettier --write --parser mdx

ci(release-drafter): add labels for version resolvers
  .github/release-drafter.yml
Due: none
